///* ========================================================================
//   #SETTINGS-CORE
//   ======================================================================== */

$base-font-size:       16px !default;
$base-line-height:     24px !default;
$base-round:           2px  !default;

$base-spacing-unit:    8px  !default;
$base-spacing-unit-xs: 2px  !default;
$base-spacing-unit-s:  4px  !default;
$base-spacing-unit-m:  16px !default;
$base-spacing-unit-l:  24px !default;
$base-spacing-unit-xl: 32px !default;
