/* ==========================================================================
   Button
   ========================================================================== */

$btn-emphasis-fallback: (
    'raised': 'emphasis-high',
    'flat': 'emphasis-low',
    'fab': 'emphasis-high',
    'icon': 'emphasis-low',
);

$btn-size-fallback: (
    'xs': 's',
    's': 's',
    'm': 'm',
    'l': 'm',
    'xl': 'm',
);

$btn-variant-fallback: (
    'raised': 'variant-button',
    'flat': 'variant-button',
    'fab': 'variant-icon',
    'icon': 'variant-icon',
);

@mixin btn($size, $color, $type, $disabled: null) {
    @include lumx-button-base;
    @include lumx-state-transition;
    @include btn-size($size, $type);
    @include btn-color($color, $type);
    @include btn-type($type);
}

@mixin btn-size($size, $type: null) {
    @include lumx-button-size(
        map-get($btn-emphasis-fallback, $type),
        map-get($btn-variant-fallback, $type),
        map-get($btn-size-fallback, $size)
    );

    @if (map-get($btn-variant-fallback, $type) == 'variant-button') {
        @include lumx-button-text(map-get($btn-size-fallback, $size));
        pointer-events: visible;
    } @else {
        i {
            @include lumx-button-icon(variant-icon, position-left, map-get($btn-size-fallback, $size));
        }
    }

    @if (map-get($btn-variant-fallback, $type) == 'variant-button') {
        @if (map-get($btn-emphasis-fallback, $type) == 'emphasis-high') {
            @if (map-get($btn-size-fallback, $size) == 'm') {
                padding: 0 $lumx-spacing-unit * 2;
            } @else {
                padding: 0 $lumx-spacing-unit * 1.5;
            }
        } @else {
            padding: 0 $lumx-spacing-unit;
        }
    }

    .ripple {
        display: none;
    }
}

@mixin btn-color($color, $type) {
    @include lumx-button-color(map-get($btn-emphasis-fallback, $type), $color, dark);
}

@mixin btn-type($type) {
}

@mixin btn-disabled($type) {
}

.btn {
    @include lumx-button-base;
    @include lumx-state-transition;
}

@each $key, $size in $sizes {
    .btn--raised.btn--#{$key} {
        @include btn-size($key, 'raised');
    }

    .btn--flat.btn--#{$key} {
        @include btn-size($key, 'flat');
    }

    .btn--icon.btn--#{$key} {
        @include btn-size($key, 'icon');
    }

    .btn--fab.btn--#{$key} {
        @include btn-size($key, 'fab');
    }
}

@each $key, $color in $colors {
    .btn--raised.btn--#{$key} {
        @include btn-color($key, 'raised');
    }

    .btn--flat.btn--#{$key} {
        @include btn-color($key, 'flat');
    }

    .btn--icon.btn--#{$key} {
        @include btn-color($key, 'icon');
    }

    .btn--fab.btn--#{$key} {
        @include btn-color($key, 'fab');
    }
}
