<div class="p+" flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-text-field lx-label="Name" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.name">
        </lx-text-field>
 
        <lx-text-field lx-label="Phone number" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.phone">
        </lx-text-field>
 
        <lx-text-field lx-label="Email address" lx-fixed-label="true">
            <input type="email" ng-model="vm.textFields.fixed.email">
        </lx-text-field>
 
        <lx-text-field lx-label="Location" lx-fixed-label="true">
            <input type="text" ng-model="vm.textFields.fixed.location">
        </lx-text-field>
    </div>
 
    <div flex-item>
        <lx-text-field lx-label="Name" lx-fixed-label="true" lx-icon="account">
            <input type="text" ng-model="vm.textFields.fixed.emptyName">
        </lx-text-field>
 
        <lx-text-field lx-label="Phone number" lx-fixed-label="true" lx-icon="phone">
            <input type="text" ng-model="vm.textFields.fixed.emptyPhone">
        </lx-text-field>
 
        <lx-text-field lx-label="Email address" lx-fixed-label="true" lx-icon="email">
            <input type="email" ng-model="vm.textFields.fixed.emptyEmail">
        </lx-text-field>
 
        <lx-text-field lx-label="Location" lx-fixed-label="true" lx-icon="city">
            <input type="text" ng-model="vm.textFields.fixed.emptyLocation">
        </lx-text-field>
    </div>
</div>