/* ==========================================================================
   Toolbar
   ========================================================================== */

.toolbar {
    display: flex;
    height: $lumx-toolbar-height;
    align-items: center;
    padding: 0 $lumx-spacing-unit * 3;

    &__left {
        margin-right: $lumx-spacing-unit * 2;
    }

    &__right {
        margin-left: auto;
    }
}
