<div class="lumx-spacing-margin-bottom-regular">
    <lx-radio-button lx-theme="{{ demoBlock.theme }}" name="test1" value="lorem" ng-model="vm.radioButtons.test1">
        Radio Button 1
    </lx-radio-button>
</div>

<div class="lumx-spacing-margin-bottom-regular">
    <lx-radio-button
        lx-theme="{{ demoBlock.theme }}"
        name="test1"
        ng-disabled="true"
        ng-model="vm.radioButtons.test1"
        value="ipsum"
    >
        Radio Button 2
    </lx-radio-button>
</div>

<lx-radio-button lx-theme="{{ demoBlock.theme }}" name="test1" ng-model="vm.radioButtons.test1" value="dolor">
    Radio Button 3
</lx-radio-button>
