<lx-radio-group>
    <lx-radio-button lx-theme="{{ demoBlock.theme }}" name="test2" ng-model="vm.radioButtons.test2" value="lorem">
        <lx-radio-button-label>
            Radio Button with help 1
        </lx-radio-button-label>

        <lx-radio-button-help>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lx-radio-button-help>
    </lx-radio-button>

    <lx-radio-button
        lx-theme="{{ demoBlock.theme }}"
        name="test2"
        ng-disabled="true"
        ng-model="vm.radioButtons.test2"
        value="ipsum"
    >
        <lx-radio-button-label>
            Radio Button with help 2
        </lx-radio-button-label>

        <lx-radio-button-help>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lx-radio-button-help>
    </lx-radio-button>

    <lx-radio-button lx-theme="{{ demoBlock.theme }}" name="test2" ng-model="vm.radioButtons.test2" value="dolor">
        <lx-radio-button-label>
            Radio Button with help 3
        </lx-radio-button-label>

        <lx-radio-button-help>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.
        </lx-radio-button-help>
    </lx-radio-button>
</lx-radio-group>
