{
    "env": {
        "amd": true,
        "applescript": false,
        "atomtest": false,
        "browser": true,
        "commonjs": true,
        "embertest": false,
        "es6": true,
        "jasmine": true,
        "jest": false,
        "jquery": false,
        "greasemonkey": true,
        "meteor": false,
        "mocha": true,
        "mongo": false,
        "nashorn": false,
        "node": true,
        "phantomjs": true,
        "prototypejs": false,
        "protractor": true,
        "qunit": false,
        "serviceworker": true,
        "shared-node-browser": true,
        "shelljs": false,
        "webextensions": false,
        "worker": true,
    },

    "extends": "eslint:recommended",

    "globals": {},

    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn": false,
            "impliedStrict": true,
            "jsx": false,
            "experimentalObjectRestSpread": false
        },
        "ecmaVersion": 6,
        "sourceType": "script"
    },

    "plugins": [],

    "rules": {
        "accessor-pairs": "off",
        "array-bracket-spacing": [
            "error",
            "never"
        ],
        "array-callback-return": "off",
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "arrow-spacing": "error",
        "block-scoped-var": "error",
        "block-spacing": "error",
        "brace-style": [
            "error",
            "1tbs"
        ],
        "callback-return": "error",
        "camelcase": [
            "error",
            {
                "properties": "always"
            }
        ],
        "class-methods-use-this": "error",
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "comma-spacing": "error",
        "comma-style": "error",
        "complexity": "off",
        "computed-property-spacing": [
            "error",
            "never"
        ],
        "consistent-return": "error",
        "consistent-this": [
            "error",
            "that",
            "_this",
            "self"
        ],
        "constructor-super": "error",
        "curly": [
            "error",
            "all"
        ],
        "default-case": "error",
        "dot-location": [
            "error",
            "property"
        ],
        "dot-notation": "error",
        "eol-last": "error",
        "eqeqeq": [
            "error",
            "always"
        ],
        "func-names": [
            "error",
            "always"
        ],
        "func-style": [
            "error",
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "generator-star-spacing": "error",
        "global-require": "off",
        "guard-for-in": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "init-declarations": "off",
        "key-spacing": "error",
        "keyword-spacing": "error",
        "line-comment-position": "off",
        "linebreak-style": "off",
        "lines-around-comment": "off",
        "max-depth": "off",
        "max-len": [
            "error",
            120,
            4,
            {
                "ignoreComments": true,
                "ignoreUrls": true,
                "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\(/"
            }
        ],
        "max-lines": "off",
        "max-nexted-callbacks": "off",
        "max-params": "off",
        "max-statements-per-line": "off",
        "max-statements": "off",
        "multiline-ternary": "off",
        "new-cap": "error",
        "new-parens": "error",
        "newline-after-var": "off",
        "newline-before-return": "error",
        "newline-per-chained-call": [
            "error",
            {
                "ignoreChainWithDepth": 2
            }
        ],
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-case-declarations": "off",
        "no-catch-shadow": "error",
        "no-class-assign": "error",
        "no-cond-assign": [
            "error",
            "always"
        ],
        "no-confusing-arrow": [
            "error",
            {
                "allowParens": true
            }
        ],
        "no-console": [
            "warn",
            {
                "allow": [
                    "error"
                ]
            }
        ],
        "no-const-assign": "error",
        "no-constant-condition": [
            "error",
            {
                "checkLoops": false
            }
        ],
        "no-continue": "off",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-delete-var": "error",
        "no-div-regex": "error",
        "no-dupe-args": "error",
        "no-dupe-class-members": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-duplicate-imports": "error",
        "no-else-return": "error",
        "no-empty": [
            "warn",
            {
                "allowEmptyCatch": false
            }
        ],
        "no-empty-character-class": "error",
        "no-empty-function": "error",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-ex-assign": "off",
        "no-extra-bind": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-label": "error",
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-fallthrough": [
            "error",
            {
                "commentPattern": "break[\\s\\w]*omitted"
            }
        ],
        "no-floating-decimal": "error",
        "no-func-assign": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implied-eval": "error",
        "no-inline-comments": "error",
        "no-inner-declarations": "error",
        "no-irregular-whitespace": "error",
        "no-invalid-regexp": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-label-var": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-loop-func": "error",
        "no-magic-number": "off",
        "no-mixed-operators": "error",
        "no-mixed-requires": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 5
            }
        ],
        "no-negated-condition": "error",
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-require": "off",
        "no-new-symbol": "error",
        "no-new-wrappers": "error",
        "no-obj-calls": "error",
        "no-octal": "off",
        "no-octal-escape": "off",
        "no-param-reassign": "off",
        "no-path-concat": "off",
        "no-plusplus": "off",
        "no-process-env": "off",
        "no-process-exit": "off",
        "no-proto": "error",
        "no-prototype-builtins": "off",
        "no-redeclare": [
            "error",
            {
                "builtinGlobals": true
            }
        ],
        "no-regex-spaces": "off",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow": [
            "error",
            {
                "builtinGlobals": true,
                "hoist": "all"
            }
        ],
        "no-shadow-restricted-names": "error",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "error",
        "no-tabs": "error",
        "no-ternary": "off",
        "no-this-before-super": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-undef": "error",
        "no-undefined": "off",
        "no-undef-init": "error",
        "no-underscore-dangle": "off",
        "no-unexpected-multiline": "error",
        "no-unmodified-loop-condition": "error",
        "no-unneeded-ternary": "error",
        "no-unreachable": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-useless-call": "error",
        "no-useless-computed-key": "error",
        "no-useless-concat": "error",
        "no-useless-constructor": "error",
        "no-useless-escape": "error",
        "no-useless-rename": "error",
        "no-var": "off",
        "no-void": "error",
        "no-warning-comments": [
            "warn",
            {
                "terms": ["todo", "fixme", "xxx"],
                "location": "anywhere"
            }
        ],
        "no-whitespace-before-property": "error",
        "no-with": "error",
        "object-curly-newline": "off",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "object-property-newline": "error",
        "object-shorthand": [
            "error",
            "never"
        ],
        "one-var-declaration-per-line": "error",
        "one-var": "off",
        "operator-assignment": [
            "error",
            "always"
        ],
        "operator-linebreak": [
            "error",
            "after"
        ],
        "padded-blocks": [
            "error",
            "never"
        ],
        "prefer-arrow-callback": "off",
        "prefer-const": "off",
        "prefer-rest-params": "off",
        "prefer-spread": "off",
        "prefer-template": "off",
        "quote-props": [
            "error",
            "consistent-as-needed",
            {
                "keywords": true,
                "unnecessary": true,
                "numbers": true
            }
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "radix": [
            "error",
            "always"
        ],
        "require-yield": "error",
        "rest-spread-spacing": "error",
        "semi-spacing": "error",
        "semi": [
            "error",
            "always",
            {
                "omitLastInOneLineBlock": false
            }
        ],
        "sort-imports": "error",
        "sort-keys": [
            "error",
            "asc",
            {
                "caseSensitive": true,
                "natural": true
            }
        ],
        "sort-vars": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "space-in-parens": "error",
        "space-unary-ops": "error",
        "space-infix-ops": "error",
        "spaced-comment": [
            "error",
            "always",
            {
                "line": {
                    "markers": ["/"],
                    "exceptions": ["-", "+"]
                },
                "block": {
                    "markers": ["!"]
                }
            }
        ],
        "strict": "error",
        "symbol-description": "error",
        "template-curly-spacing": [
            "error",
            "never"
        ],
        "unicode-bom": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "vars-on-top": "off",
        "wrap-iife": [
            "error",
            "inside"
        ],
        "wrap-regex": "error",
        "yield-star-spacing": "error",
        "yoda": [
            "error",
            "never"
        ]
    },

    "settings": {}
}
