# Workspace files are user-specific
*.sublime-workspace
/nbproject/private/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Various temp files
.tmp
.sass-cache
.idea
.ropeproject
*.*~*

# MacOS Files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Thumbnails
._*

*.pyc
*datastore*
*blobstore*
*.search_index*

#libs and builded files
/node_modules/*
/app/client/build/*
/app/client/libs/bower/*

#coverage
cover/
.coverage