///*------------------------------------*\
//    #CORE
//\*------------------------------------*/

@import "settings/settings.colors";
@import "settings/settings.defaults";
@import "settings/settings.responsive";

@import "tools/tools.functions";
@import "tools/tools.mixins";
@import "tools/tools.responsive";

@import "generic/generic.normalize";
@import "generic/generic.box-sizing";
@import "generic/generic.reset";
@import "generic/generic.shared";

@import "base/base.page";
@import "base/base.typography";

@import "trumps/trumps.widths";
@import "trumps/trumps.spacing";
@import "trumps/trumps.helpers";