<li class="lumx-side-navigation-item" ng-class="lx.getClasses()">
    <a
        class="lumx-side-navigation-item__link"
        ng-click="lx.handleClick()"
        lx-enter-keydown="lx.handleClick()"
        tabindex="0"
    >
        <lx-icon lx-path="{{ lx.icon }}" lx-size="xs" ng-if="lx.icon"></lx-icon>
        <span>{{ lx.label }}</span>
        <lx-icon
            lx-path="{{ lx.isOpen ? lx.icons.mdiChevronUp : lx.icons.mdiChevronDown }}"
            lx-size="xs"
            ng-if="lx.hasChildren"
        ></lx-icon>
    </a>

    <ul class="lumx-side-navigation-item__children" ng-if="lx.hasChildren && lx.isOpen" ng-transclude></ul>
</li>
