///*------------------------------------*\
//    #SETTINGS-COMMON
//\*------------------------------------*/

// Roboto path
$roboto-font-path: "../../fonts/roboto";

// Material Design Icons path
$md-icons-font-path: "../../fonts/md-icons";

// Override defaults
$base-background-color: #fff;