/* ==========================================================================
   App
   ========================================================================== */

.app {
    display: flex;
    height: 100vh;
}
