<lx-grid>
    <lx-grid-item lx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 3
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 3
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="6">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 6
        </div>
    </lx-grid-item>
</lx-grid>

<lx-grid lx-gutter="regular">
    <lx-grid-item lx-width="2">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 2
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="8">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 8
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="2">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 2
        </div>
    </lx-grid-item>
</lx-grid>

<lx-grid lx-gutter="huge">
    <lx-grid-item lx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            Width = 3
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            Width = 3
        </div>
    </lx-grid-item>

    <lx-grid-item lx-width="6">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            Width = 6
        </div>
    </lx-grid-item>
</lx-grid>

<lx-grid lx-orientation="vertical">
    <lx-grid-item lx-order="1">
        <div class="lumx-spacing-padding lumx-theme-background-red-N">
            ItemA with order=1
        </div>
    </lx-grid-item>

    <lx-grid-item lx-order="3">
        <div class="lumx-spacing-padding lumx-theme-background-blue-N">
            ItemB with order=3
        </div>
    </lx-grid-item>

    <lx-grid-item lx-order="2">
        <div class="lumx-spacing-padding lumx-theme-background-green-N">
            ItemC with order=2
        </div>
    </lx-grid-item>
</lx-grid>
