///* ========================================================================
//   #TOOLS-FONT-SIZE
//   ======================================================================== */

@mixin font-size($font-size) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;
}
