/* ==========================================================================
   Date picker
   ========================================================================== */

.lumx-date-picker {
    &__input {
        cursor: pointer !important;

        input {
            pointer-events: none;
        }
    }

    &__header {
        padding: $lumx-spacing-unit * 2 $lumx-spacing-unit * 3;
        background-color: lumx-theme-color-variant('primary', 'N');
    }

    &__selected-year,
    &__selected-day {
        display: block;
        color: lumx-theme-color-variant('light', 'L2');
        cursor: pointer;

        &:hover,
        &--is-active {
            color: lumx-theme-color-variant('light', 'N');
        }
    }

    &__selected-year {
        @include lumx-typography('body1');
    }

    &__selected-day {
        @include lumx-typography('display1');
    }

    &__calendar {
        padding: $lumx-spacing-unit * 2;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: $lumx-spacing-unit * 2;

        span {
            @include lumx-typography('subtitle1');

            flex: 1;
            text-align: center;
            text-transform: capitalize;
        }
    }

    &__days-of-week {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            @include lumx-typography('caption');

            display: block;
            flex: 1;
            color: lumx-theme-color-variant('dark', 'L2');
            line-height: 32px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__day {
        display: flex;
        width: #{(100 / 7) + '%'};
        flex: 0 0 #{(100 / 7) + '%'};
        align-items: center;
        justify-content: center;
        padding: 2px 0;

        a {
            @include lumx-typography('caption');

            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            line-height: 40px;
            text-align: center;
        }

        & a:hover,
        &--is-selected a {
            background-color: lumx-theme-color-variant('primary', 'N');
            color: lumx-theme-color-variant('light', 'N');
        }

        &--is-today a {
            color: lumx-theme-color-variant('primary', 'N');
        }

        &--is-disabled a {
            color: lumx-theme-color-variant('dark', 'L3');
            pointer-events: none;
        }
    }

    &__year {
        @include lumx-typography('body2');

        display: block;
        height: 44px;
        cursor: pointer;
        line-height: 44px;
        text-align: center;

        &--is-active {
            @include lumx-typography('headline');

            height: 44px;
            line-height: 44px;
        }

        &:hover,
        &--is-active {
            color: lumx-theme-color-variant('primary', 'N');
        }
    }
}
