<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" href="/css/mixins" ng-click="Sidebar.toggleSidebar()">Mixins</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/typography" ng-click="Sidebar.toggleSidebar()">Typography</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/colors" ng-click="Sidebar.toggleSidebar()">Colors</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/flexbox" ng-click="Sidebar.toggleSidebar()">Flexbox</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/buttons" ng-click="Sidebar.toggleSidebar()">Buttons</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/fab" ng-click="Sidebar.toggleSidebar()">Floating action button</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/icons" ng-click="Sidebar.toggleSidebar()">Icons</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/lists" ng-click="Sidebar.toggleSidebar()">Lists</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/data-table" ng-click="Sidebar.toggleSidebar()">Data table</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/cards" ng-click="Sidebar.toggleSidebar()">Cards</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/checkboxes" ng-click="Sidebar.toggleSidebar()">Checkboxes</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/radio-buttons" ng-click="Sidebar.toggleSidebar()">Radio buttons</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/switches" ng-click="Sidebar.toggleSidebar()">Switches</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/css/toolbars" ng-click="Sidebar.toggleSidebar()">Toolbars</a>
            </li>
        </ul>
    </div>
</div>
