<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/getting-started/installation" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Installation</a>
            </li>
            <li>
                <a href="/getting-started/customization" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Customization</a>
            </li>
            <li>
                <a href="/getting-started/contribute" class="sidebar-menu__link" ng-click="Sidebar.toggleSidebar()">Contribute</a>
            </li>
        </ul>
    </div>
</div>
