<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': SidebarService.isSidebarShown() }" ng-click="SidebarService.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': SidebarService.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" href="/services/notifications" target="_self" ng-click="SidebarService.toggleSidebar()">Notifications</a>
            </li>
            <li>
                <a class="sidebar-menu__link" href="/services/progress" ng-click="SidebarService.toggleSidebar()">Progress</a>
            </li>
        </ul>
    </div>
</div>
