<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': SidebarService.isSidebarShown() }" ng-click="SidebarService.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': SidebarService.isSidebarShown() }">
    <div class="sidebar-menu">
      <ul>
        <li>
              <a class="sidebar-menu__link" href="/css/colors" lx-ripple ng-click="SidebarService.toggleSidebar()">Colors</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/buttons" lx-ripple ng-click="SidebarService.toggleSidebar()">Buttons</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/icons" lx-ripple ng-click="SidebarService.toggleSidebar()">Icons</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/lists" lx-ripple ng-click="SidebarService.toggleSidebar()">Lists</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/cards" lx-ripple ng-click="SidebarService.toggleSidebar()">Cards</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/checkboxes" lx-ripple ng-click="SidebarService.toggleSidebar()">Checkboxes</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/radio-buttons" lx-ripple>Radio buttons</a>
          </li>
          <li>
              <a class="sidebar-menu__link" href="/css/switches" lx-ripple>Switches</a>
          </li>
      </ul>
    </div>
</div>
