<div class="p+">
    <lx-radio-group>
        <lx-radio-button name="test1" value="lorem" ng-model="vm.radioButtons.basic.test1">Radio Button 1</lx-radio-button>
        <lx-radio-button name="test1" value="ipsum" ng-model="vm.radioButtons.basic.test1">Radio Button 2</lx-radio-button>
        <lx-radio-button name="test1" value="dolor" ng-model="vm.radioButtons.basic.test1">Radio Button 3</lx-radio-button>
    </lx-radio-group>
 
    <lx-radio-group class="mt+">
        <lx-radio-button name="test2" value="lorem" ng-model="vm.radioButtons.basic.test2">
            <lx-radio-button-label>Radio Button with help 1</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
 
        <lx-radio-button name="test2" value="ipsum" ng-model="vm.radioButtons.basic.test2">
            <lx-radio-button-label>Radio Button with help 2</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
 
        <lx-radio-button name="test2" value="dolor" ng-model="vm.radioButtons.basic.test2">
            <lx-radio-button-label>Radio Button with help 3</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
    </lx-radio-group>
</div>