///*------------------------------------*\
//    #ANIMATIONS-RIPPLE
//\*------------------------------------*/

// Ripple animation
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.3;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
