///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/

// Wrapper
@mixin wrapper() {
    position: relative;

    @include mq($until: desktop) {
        margin: 0 $base-spacing-unit * 3;
    }

    @include mq($from: desktop) {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }

    @include mq($from: wide) {
        width: 1136px;
    }
}
