<div class="lumx-date-picker">
    <div class="lumx-date-picker__input" ng-click="lx.openDatePicker()" ng-if="lx.hasInput">
        <ng-transclude></ng-transclude>
    </div>

    <lx-dialog id="{{ lx.id }}" lx-size="tiny">
        <lx-dialog-header>
            <div class="lumx-date-picker__header">
                <a
                    class="lumx-date-picker__selected-year"
                    ng-class="{ 'lumx-date-picker__selected-year--is-active': lx.yearSelection }"
                    ng-click="lx.displayYearSelection()"
                >
                    {{ lx.getYearFormatted() }}
                </a>

                <a
                    class="lumx-date-picker__selected-day"
                    ng-class="{ 'lumx-date-picker__selected-day--is-active': !lx.yearSelection }"
                    ng-click="lx.hideYearSelection()"
                >
                    {{ lx.getDayFormatted() }}
                </a>
            </div>
        </lx-dialog-header>

        <lx-dialog-content>
            <!-- Calendar -->
            <div class="lumx-date-picker__calendar" ng-if="!lx.yearSelection">
                <div class="lumx-date-picker__nav">
                    <lx-button lx-emphasis="low" lx-variant="icon" ng-click="lx.previousMonth()">
                        <lx-icon lx-path="{{ lx.icons.mdiChevronLeft }}"></lx-icon>
                    </lx-button>

                    <span>{{ lx.getMonthFormatted() }}</span>

                    <lx-button lx-emphasis="low" lx-variant="icon" ng-click="lx.nextMonth()">
                        <lx-icon lx-path="{{ lx.icons.mdiChevronRight }}"></lx-icon>
                    </lx-button>
                </div>

                <div class="lumx-date-picker__days-of-week">
                    <span ng-repeat="day in lx.daysOfWeek">{{ day }}</span>
                </div>

                <div class="lumx-date-picker__days">
                    <span
                        class="lumx-date-picker__day lumx-date-picker__day--is-empty"
                        ng-repeat="x in lx.emptyFirstDays"
                    ></span>

                    <div
                        class="lumx-date-picker__day"
                        ng-class="{ 'lumx-date-picker__day--is-selected': day.isSelected,
                                    'lumx-date-picker__day--is-today': day.isToday && !day.isSelected,
                                    'lumx-date-picker__day--is-disabled': day.isDisabled }"
                        ng-repeat="day in lx.days"
                    >
                        <a ng-click="lx.selectDay(day)">{{ day ? day.format('D') : '' }}</a>
                    </div>

                    <span
                        class="lumx-date-picker__day lumx-date-picker__day--is-empty"
                        ng-repeat="x in lx.emptyLastDays"
                    ></span>
                </div>
            </div>

            <!-- Year selection -->
            <div class="lumx-date-picker__year-selector" ng-if="lx.yearSelection">
                <a
                    class="lumx-date-picker__year"
                    ng-class="{ 'lumx-date-picker__year--is-active': lx.isYearActive(year) }"
                    ng-repeat="year in lx.years"
                    ng-click="lx.selectYear(year)"
                >
                    {{ year }}
                </a>
            </div>
        </lx-dialog-content>

        <lx-dialog-footer>
            <lx-toolbar>
                <lx-toolbar-after>
                    <lx-button lx-dialog-close lx-emphasis="low" ng-click="lx.closeDatePicker()">Ok</lx-button>
                </lx-toolbar-after>
            </lx-toolbar>
        </lx-dialog-footer>
    </lx-dialog>
</div>
