///*------------------------------------*\
//    #PRIMARY-NAV-LINK
//\*------------------------------------*/

// Bourbon
@import 'functions/unpack';
@import 'addons/position';

// mdi
@import 'variables';

// LumX
@import 'settings/colors';
@import 'tools/mixins';


// Primary nav link
.primary-nav-link {
    // Primary nav link: state
    &__state {
        .primary-nav--mobile-nav & {
            @include font-size(14px);
            display: block;
            position: relative;
            padding: 0 $base-spacing-unit * 3;
            border-bottom: 1px solid $black-4;
            font-weight: 700;
            color: $black-1;
            line-height: 60px;
            text-decoration: none;

            &::after {
                @include mdi();
                @include mdi-icon('chevron-right');
                @include position(absolute, 50% $base-spacing-unit * 3 null null);
                @include font-size(20px);
                transform: translateY(-50%);
                color: $black-2;
            }

            &.primary-nav-link__state--is-open {
                &::after {
                    @include mdi-icon(chevron-down);
                }
            }
        }

        .primary-nav--header & {
            @include font-size(14px);
            display: block;
            height: 48px;
            padding: 0 $base-spacing-unit * 2;
            font-weight: 700;
            line-height: 48px;
            text-decoration: none;
            color: $white-1;

            &:hover,
            &.primary-nav-link__state--is-active {
                border-bottom: 4px solid $amber;
            }
        }
    }

    // Primary nav link: sub nav
    &__sub-nav {
        .primary-nav--header & {
            display: none;
        }
    }
}
