<div class="tabs tabs--theme-{{ linksTc }} tabs--layout-{{ layout }}"
     ng-class="{ 'tabs--no-divider': noDivider }">

    <button class="tabs__pagination-left btn btn--m bgc-{{ linksBgc }}"
            ng-click="showPrevPage()"
            ng-if="isPaginationActive()"
            ng-disabled="isPaginationLeftDisabled()">
      <i class="mdi mdi-chevron-left"></i>
    </button>

    <ul class="tabs__links bgc-{{ linksBgc }} z-depth{{ zDepth }}"
        ng-class="{'tabs__pagination-padding': isPaginationActive()}">
        <li ng-repeat="tab in getTabs()">
            <a lx-tab-link
               class="tabs-link"
               ng-class="{ 'tabs-link--is-active': $index === activeTab }"
               ng-click="setActiveTab($index)"
               lx-ripple="{{ indicator }}">
               <span ng-if="tab.icon !== undefined"><i class="{{iconPrefix}}{{ tab.icon }}"></i></span>
               <span ng-if="tab.icon === undefined || showIconAndHeading">{{ tab.heading }}</i></span>
            </a>
        </li>
    </ul>

    <button class="tabs__pagination-right btn btn--m bgc-{{ linksBgc }}"
            ng-click="showNextPage()"
            ng-if="isPaginationActive()"
            ng-disabled="isPaginationRightDisabled()">
      <i class="mdi mdi-chevron-right"></i>
    </button>

    <div class="tabs__panes" ng-transclude="1"></div>

    <div class="tabs__indicator bgc-{{ indicator }}"></div>
</div>
