<div class="tabs tabs--layout-{{ lxTabs.layout }} tabs--theme-{{ lxTabs.theme }} tabs--color-{{ lxTabs.color }} tabs--indicator-{{ lxTabs.indicator }}">
    <div class="tabs__links">
        <a class="tabs__link"
           ng-class="{ 'tabs__link--is-active': lxTabs.tabIsActive(tab.index) }"
           ng-repeat="tab in lxTabs.tabs"
           ng-click="lxTabs.setActiveTab(tab.index)"
           lx-ripple>
           <i class="mdi mdi-{{ tab.icon }}" ng-if="tab.icon"></i>
           <span ng-if="tab.label">{{ tab.label }}</span>
        </a>
    </div>

    <div class="tabs__panes" ng-transclude></div>
    <div class="tabs__indicator"></div>
</div>
