<div class="switch switch--{{ lxSwitch.lxColor }} switch--{{ lxSwitch.lxPosition }}"
     ng-class="{ 'switch--theme-light': !lxSwitch.lxTheme || lxSwitch.lxTheme === 'light',
                 'switch--theme-dark': lxSwitch.lxTheme === 'dark' }">
    <input id="{{ lxSwitch.getSwitchId() }}"
           type="checkbox"
           class="switch__input"
           name="{{ lxSwitch.name }}"
           ng-model="lxSwitch.ngModel"
           ng-true-value="{{ lxSwitch.ngTrueValue }}"
           ng-false-value="{{ lxSwitch.ngFalseValue }}"
           ng-change="lxSwitch.triggerNgChange()"
           ng-disabled="lxSwitch.ngDisabled">

    <label for="{{ lxSwitch.getSwitchId() }}" class="switch__label" ng-transclude ng-if="!lxSwitch.getSwitchHasChildren()"></label>
    <ng-transclude-replace ng-if="lxSwitch.getSwitchHasChildren()"></ng-transclude-replace>
</div>
