<div class="lumx-text-field" ng-class="lx.getClasses()">
    <label for="{{ lx.inputId }}" class="lumx-text-field__label" ng-if="::lx.label">
        {{ lx.label }}
    </label>

    <span class="lumx-text-field__helper" ng-if="::lx.helper">{{ lx.helper }}</span>

    <div class="lumx-text-field__wrapper">
        <lx-icon
            class="lumx-text-field__input-icon"
            lx-path="{{ lx.icon }}"
            lx-size="xs"
            ng-if="::lx.icon && !lx.hasChips"
        ></lx-icon>

        <div class="lumx-text-field__chips" ng-transclude="chips" ng-if="::lx.hasChips"></div>

        <div class="lumx-text-field__input-wrapper">
            <div class="lumx-text-field__input-native" ng-transclude ng-if="::!lx.hasInput"></div>
            <div class="lumx-text-field__input-native" ng-transclude="input" ng-if="::lx.hasInput"></div>

            <lx-icon
                class="lumx-text-field__input-validity"
                lx-path="{{ lx.isValid ? lx.icons.mdiCheckCircle : lx.icons.mdiAlertCircle }}"
                lx-size="xxs"
                ng-if="lx.isValid || lx.hasError"
            ></lx-icon>

            <lx-button
                type="button"
                class="lumx-text-field__input-clear"
                lx-emphasis="low"
                lx-size="s"
                lx-theme="{{ lx.theme }}"
                lx-variant="icon"
                ng-if="lx.isClearable && lx.hasValue()"
                ng-click="lx.clearModel($event)"
            >
                <lx-icon lx-path="{{ lx.icons.mdiCloseCircle }}"></lx-icon>
            </lx-button>
        </div>
    </div>
</div>
