<lx-date-picker ng-model="datepicker.date" lx-min-date="datepicker.minDate" lx-max-date="datepicker.maxDate" lx-locale="fr" lx-input-label="Pick a date" lx-allow-clear="true"></lx-date-picker>

<div class="mt+">
    <lx-date-picker ng-model="datepicker.date" lx-locale="fr" lx-input-label="Pick a date" lx-input-fixed-label="true" lx-input-icon="calendar"></lx-date-picker>
    <lx-date-picker ng-model="datepicker.emptyDate" lx-locale="fr" lx-input-label="Pick a date" lx-input-fixed-label="true" lx-input-icon="cake-variant"></lx-date-picker>
</div>
