///*------------------------------------*\
//    #OBJECTS-TABS
//\*------------------------------------*/

// Tabs base styles
.tabs {
    position: relative;
}
    
    // Tabs links
    .tabs__links {
        @extend %bare-list;
        display: table;
        table-layout: fixed;
        width: 100%;
        border-bottom: 1px solid $black-fourth;
        text-align: center;

        li {
            display: table-cell;
        }
    }

    // Tabs panes
    .tabs__panes {
        margin-top: $base-spacing-unit;
    }

    // Tabs indicator
    .tabs__indicator {
        @include position(absolute, (($md-spacing-unit * 3) - 1) 0 null 0);
        height: 2px;
        background-color: $blue;
    }





// Tabs link
.tabs-link {
    display: block;
    position: relative;
    height: $md-spacing-unit * 3;
    cursor: pointer;
    @include font-size(14px);
    font-weight: 600;
    line-height: $md-spacing-unit * 3;
    text-align: center;
    text-transform: uppercase;
    @include transition-property(color);
    @include transition-duration(0.2s);

    &:hover {
        color: $blue;
    }

    &.tabs-link--is-active {
        color: $blue;
    }
}





// Tabs pane
.tabs-pane {
    display: none;
}

.tabs-pane--is-active {
    display: block;
}





// Ripple
.ripple {
    background-color: $black-fourth;
}





// Tabs theme light
.tabs--theme-light {
    .tabs-link {
        color: $white-second;
        border-bottom: 1px solid $white-second;
    }

    @each $key, $color in $colors {
        .tabs-link--color-#{$key}{
            &:hover {
                color: $white;
            }

            &.tabs-link--is-active {
                color: $white;
            }

            .ripple {
                background-color: rgba($color, 0.6);
            }
        }
    }

    @each $key, $color in $colors {
        .tabs__indicator--color-#{$key} {
            background-color: $color;
        }
    }

    .tabs__panes {
        color: $white;
        padding: 0 $base-spacing-unit $base-spacing-unit; 

    }
}





// Tabs theme dark
.tabs--theme-dark {
    .tabs-link {
        color: $black-second;
        border-bottom: 1px solid $black-fourth;
    }

    @each $key, $color in $colors {
        .tabs-link--color-#{$key}{
            &:hover {
                color: $color;
            } 

            &.tabs-link--is-active {
                color: $color;
            }
        }
    }

    @each $key, $color in $colors {
        .tabs__indicator--color-#{$key} {
            background-color: $color;
        }
    }

    .ripple {
        background-color: $black-fourth;
    }
}