///*------------------------------------*\
//    #OBJECTS-DATA-TABLE
//\*------------------------------------*/

// Data table container
.data-table-container {
    position: relative;
    width: 100%;
    
    @include media-query(portable) {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    @include media-query(desk) {
        overflow: hidden;
    }
}





// Data table base styles
.data-table {
    width: 100%;
    margin: 0;
    @include font-size(14px);
}

.data-table.data-table--add tbody tr:last-child td {
    border-bottom: 1px solid #ddd;
}
    
    .data-table > thead > tr > th,
    .data-table > tbody > tr > td {
        padding: halve($base-spacing-unit);
    }

    .data-table > thead > tr > th {
        font-weight: 600;
        text-align: left;

        &,
        span {
            white-space: nowrap;
        }
    }

    .data-table > tbody > tr > td {
        border-top: 1px solid #ddd;
    }

    .data-table thead.has-background {
        th {
            background-color: $grey;
        }

        & + tbody tr:first-child td {
            border-top: none;
        }
    }





// Fixed header
.fixed-header {
    position: fixed;
    margin: 0 $base-spacing-unit;
    background-color: #fff;

    @include media-query(portable) {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    @include media-query(desk) {
        overflow: hidden;
    }

    th {
        padding: halve($base-spacing-unit);
        border-bottom: 1px solid #ddd;
        @include font-size(14px);
        font-weight: 600;
        text-align: left;

        &,
        span {
            white-space: nowrap;
        }
    }
}





// Data table first cell
.data-table__first-cell {
    position: relative;
    width: 60px;
    min-width: 60px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
    text-align: center;

    & + td,
    & + th {
        padding-left: 0;
    }
}

    .data-table__first-cell-icon {
        @include size(30px);
        border-radius: 50%;
        background-color: $black;
        color: #fff;
        line-height: 30px;
        text-align: center;
    }





// Data table actions cell
.data-table__actions-cell {
    padding-left: 0 !important;
    text-align: center !important;
}





// Data table clickable row
.data-table__clickable-row {
    cursor: pointer;

    &:hover {
        td {
            border-bottom-color: #c4d3dc !important;
            background-color: #e5f0f5;
        }

        & + tr td,
        td {
            border-top-color: #c4d3dc !important;
        }
    }
}





// Data table add line
.data-table-add {
    position: relative;
    @include font-size(14px);
    cursor: pointer;

    &:hover .data-table-add__icon {
        &:before {
            @include transform(scale(0.7));
        }

        &:after {
            @include transform(scale(1));
        }
    }
}

    .data-table-add__icon {
        @include position(absolute, halve($base-spacing-unit) 0 0 15px);
        @include size(30px);

        &:before,
        &:after {
            @include position(absolute, 0 0 0 0);
            border-radius: 50%;
            @include transition-property(transform);
            @include transition-duration(0.2s);
        }

        &:before {
            background-color: $green;
            color: #fff;
            line-height: 30px;
            text-align: center;
            @include transform(scale(1));
        }

        &:after {
            content: '';
            border: 3px solid $green;
            @include transform(scale(0.7));
        }
    }

    .data-table-add__content {
        display: block;
        margin-left: 60px;
        padding: halve($base-spacing-unit) 0;
    }

    .data-table-add__link {
        font-weight: 600;
        color: $green;
        line-height: 30px;
    }