///*------------------------------------*\
//    #OBJECTS-RIPPLE
//\*------------------------------------*/

// Ripple base styles
.ripple {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	@include transform(scale(0));
    pointer-events: none;
}

.ripple--is-animated {
	@include animation(ripple 0.65s linear);
}