///*------------------------------------*\
//    #OBJECTS-CARD
//\*------------------------------------*/

// Card base styles
.card {
    border-radius: $md-base-round;
    background-color: $white;
    overflow: hidden;
    @include z-depth(1);
}

    // Card left
    .card__left {
        float: left;
        margin-right: $md-spacing-unit;

        img {
            display: block;
            max-height: 100%;
        }
    }

    // Card side
    .card__side {
        @include position(absolute, 0 0 0 null);

        .card__actions {
            @include position(absolute, null null 0 null);
        }
    }

    // Card top
    .card__top {
        padding: $md-spacing-unit;
        padding-bottom: 0;
    }

    .card__top--img {
        padding: 0;
        position: relative;

        img {
            display: block;
            max-width: 100%;
        }

        .card-title {
            @include position(absolute, null $md-spacing-unit $md-spacing-unit $md-spacing-unit);
            color: $white-1;
        }
    }

    // Card content
    .card__content {
        padding: $md-spacing-unit;
    }

    .card__content--small {
        @include font-size(14px);
    }

    // Card actions
    .card__actions {
        padding: halve($md-spacing-unit);

        .btn {
            padding-left: halve($md-spacing-unit);
            padding-right: halve($md-spacing-unit);
        }
    }





// Card title / subtitle
.card-title,
.card-subtitle {
    display: block;
}

.card-title {
    @include font-size(24px);
    font-weight: normal;
    line-height: 1;
}

.card-subtitle {
    @include font-size(14px);
    color: $black-2;
}