///*------------------------------------*\
//    #OBJECTS-SELECT
//\*------------------------------------*/

// Select base styles
.lx-select {
    position: relative;
    margin-top: double($md-spacing-unit);
    padding-bottom: halve($md-spacing-unit);

    &:before {
        content: '';
        @include position(absolute, null 0 (halve($md-spacing-unit) - 1) 0);
        height: 1px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown {
        display: block;
    }
}

    // Select selected
    .lx-select__selected {
        position: relative;
        padding-right: $base-spacing-unit;
        cursor: pointer;

        &:after {
            @include mdi;
            content: $mdi-var-arrow-drop-down;
            @include position(absolute, null halve($md-spacing-unit) halve($md-spacing-unit) null);
            @include font-size(14px);
            color: $grey;
            line-height: 16px;
        }

        .ripple {
            background-color: rgba($grey, 0.3);
        }
    }

    .lx-select__selected--is-unique {
        line-height: double($md-spacing-unit);
    }

    .lx-select__selected--is-multiple {
        padding-top: quarter($md-spacing-unit);
    }

    .lx-select__selected--placeholder {
        padding-top: 0 !important;
        color: #aaa;
        line-height: double($md-spacing-unit) !important;
    }

    // Select tag
    .lx-select__tag {
        position: relative;
        float: left;
        margin-right: quarter($md-spacing-unit);
        margin-bottom: quarter($md-spacing-unit);
        border-radius: $md-base-round;
        background-color: #f5f5f5;
        padding: 0 quarter($md-spacing-unit);
        line-height: 24px;

        @include font-size(14px);
        @include user-select(none);

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            .lx-select__tag__close {
                display: block;
            }
        }
    }

        .lx-select__tag__close {
            @include position(absolute, 0 0 null null);

            display: none;
            background-color: $white;

            &:after {
                content: $mdi-var-close;
                color: $grey;
                line-height: 24px;

                @include mdi;
                @include font-size(14px);
            }

            &:hover:after {
                color: $red;
            }
        }

    // Select choices
    .lx-select__choices {
        margin-left: -16px;

        .dropdown-menu__content {
            padding-top: 0;
        }
    }

    // Select choice
    .lx-select__choice--is-multiple {
        position: relative;
        padding-left: 40px;

        &:before,
        &:after {
            @include mdi;
            @include position(absolute, 0 null null 16px);
            @include font-size(18px);
            line-height: 32px;
            @include transition-property(transform);
            @include transition-duration(0.2s);
        }

        &:before {
            content: $mdi-var-check-box-outline-blank;
            @include transform(scale(1));
        }

        &:after {
            content: $mdi-var-check-box;
            @include transform(scale(0));
            color: $green;
        }
    }

    .lx-select__choice--is-selected {
        &:before {
            @include transform(scale(0));
        }

        &:after {
            @include transform(scale(1));
        }
    }

    .lx-select__help {
        padding: auto 16px;
        @include font-size(12px);
        font-weight: 300;
        color: #999;
        text-align: center;
    }

    .lx-select__loader {
        @include animation(spin 1.5s linear infinite);
    }

    // Select chosen
    .lx-select__chosen {
        display: block;
        min-height: double($md-spacing-unit) + 1;
        padding: 0 40px 0 $md-spacing-unit;
        border-bottom: 1px solid #ddd;
        line-height: double($md-spacing-unit);
    }

    .lx-select__chosen--is-multiple {
        padding-top: quarter($md-spacing-unit);
        @include clearfix;
    }

    // Select filter
    .lx-select__filter {
        margin-bottom: halve($md-spacing-unit);
        border-bottom: 1px solid #ddd;

        input {
            height: 32px;
        }
    }
