///*------------------------------------*\
//    #OBJECTS-LOADER
//\*------------------------------------*/

// Loader base styles
.loader {
    position: relative;
    @include size(50px);
    overflow: hidden;
    @include animation(spin 2s linear infinite);
}

    // Loader background
    .loader__bg {
        @include size(50px);
        border-radius: 50%;
        background-color: $blue;
    }

    // Loader first mask 1
    .loader__mask1 {
        @include position(absolute, 0 null null 0);
        @include size(50px);
        clip: rect(0, 25px, 25px, 0);
        background-color: #fff;
        @include transform(rotate(-10deg));
        @include animation(mask1 2s linear infinite);
    }

    // Loader second mask 2
    .loader__mask2 {
        @include position(absolute, 0 null null 0);
        @include size(50px);
        clip: rect(0, 50px, 25px, 25px);
        background-color: #fff;
        @include transform(rotate(10deg));
        @include animation(mask2 2s linear infinite);
    }

    // Loader second mask 3
    .loader__mask3 {
        @include position(absolute, 25px 0 null 0);
        height: 25px;
        background-color: #fff;
        @include animation(mask3 2s linear infinite);
    }

    // Loader center
    .loader__center {
        @include position(absolute, 3px null null 3px);
        @include size(44px);
        border-radius: 50%;
        background-color: #fff;
    }

@include keyframes(mask1) {
    0% { @include transform(rotate(-10deg)); }
    50% { @include transform(rotate(-135deg)); }
    100% { @include transform(rotate(-10deg)); }
}

@include keyframes(mask2) {
    0% { @include transform(rotate(10deg)); }
    50% { @include transform(rotate(135deg)); }
    100% { @include transform(rotate(10deg)); }
}

@include keyframes(mask3) {
    0% { @include transform(translateY(0)); }
    50% { @include transform(translateY(25px)); }
    100% { @include transform(translateY(0)); }
}





// Progress base styles
.progress-linear {
    @include size(null quarter($md-spacing-unit));
    overflow: hidden;
    background-color: lighten($blue, 25%);
    position: relative;
}

    // Progress bar
    .progress-linear__bar {

        @include transform(scale(1) translateX(50%));
        background-color: $blue;
    }

    .progress-linear__bar--first {
        @include position(absolute, -$base-spacing-unit/2 null null null);
        @include size(100% $base-spacing-unit);
        @include animation(bar1 2s linear infinite);
    }

    .progress-linear__bar--second {
        @include position(absolute, double(-$base-spacing-unit) null null null);
        @include size(100% quadruple($base-spacing-unit));
        @include animation(bar2 2s linear infinite); 
    }

@include keyframes(bar1) {
    0% {
        @include transform(scale(0.5) translateX(-150%));
    }

    37.5% {
        @include transform(scale(0.75) translateX(0%));
    }

    75% {
        @include transform(scale(0.5) translateX(150%)); 
    }

    100% {
        @include transform(scale(0.5) translateX(150%));
    }
}

@include keyframes(bar2) {
    0% {
        @include transform(scale(0.5) translateX(-250%));
    }

    40% {
        @include transform(scale(0.5) translateX(-250%));
    }

    55% {
        @include transform(scale(0.5) translateX(-150%));
    }

    70% {
        @include transform(scale(0.5) translateX(-50%)); 
    }

    85% {
        @include transform(scale(0.25) translateX(150%));  
    }

    100% {
        @include transform(scale(0.25) translateX(250%)); 
    }
}