///*------------------------------------*\
//    #OBJECTS-LIST
//\*------------------------------------*/

// List base styles
.list {
	@extend %bare-list;
}





// List row
.list-row {
	position: relative;
	padding: 0 $base-spacing-unit * 2;
}

.list-row--has-primary {
	& > .list-content-tile {
		margin-left: $size-l + ($base-spacing-unit * 2);
	}
}

.list-row--has-secondary {
	& > .list-content-tile {
		margin-right: $base-spacing-unit * 4;
	}
}

.list-row--has-separator {
	&:after {
		content: '';
		@include position(absolute, null 0 0 0);
		height: 1px;
		border-bottom: 1px solid $black-4;
	}

	&:last-child:after {
		border-bottom: none;
	}
}

.list-row--has-primary.list-row--has-separator:after {
	left: $base-spacing-unit * 9;
}

.list-row--is-clickable {
    cursor: pointer;
}

.list-row--is-clickable:hover,
.list-row--is-active {
    background-color: $grey-100;
}





// List primary tile
.list-primary-tile {
	@include position(absolute, 50% null null $base-spacing-unit * 2);
	margin-top: -($size-l / 2);
}
	
	// List primary tile image
	.list-primary-tile__img {
		@include size($size-l);
		border-radius: 50%;
	}





// List content tile
.list-content-tile {
	padding: $base-spacing-unit * 2 0;

	strong,
	span {
		display: block;
	}

	strong {
		font-weight: 400;
	}

	span {
		@include font-size(14px);
		color: $black-2;
	}
}

.list-content-tile--one-line {
	strong {
		line-height: 1;
	}
}

.list-row--has-primary > .list-content-tile--one-line {
	strong {
		line-height: 24px;
	}
}

.list-content-tile--two-lines {
	strong,
	span {
		line-height: 20px;
	}
}





// List secondary tile
.list-secondary-tile {
	@include position(absolute, 50% $base-spacing-unit * 2 null null);
	@include transform(translateY(-50%));
}





// List divider
.list-divider {
	height: 1px;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
    background-color: $black-4;
}

.list-divider--is-pushed {
	margin-left: $base-spacing-unit * 9;
}





// List subheader
.list-subheader {
	padding: $base-spacing-unit * 2;
	@include font-size(14px);
	font-weight: 600;
	color: $black-2;
	line-height: 16px;
}

.list-subheader--is-pushed {
	margin-left: $size-l + ($base-spacing-unit * 2);
}