///*------------------------------------*\
//    #OBJECTS-TABS
//\*------------------------------------*/

// Tabs base styles
.tabs {
    position: relative;
}
    
    // Tabs links
    .tabs__links {
        @extend %bare-list;
        display: table;
        table-layout: fixed;
        width: 100%;
        border-bottom: 1px solid #ddd;
        text-align: center;

        li {
            display: table-cell;
        }
    }

    // Tabs panes
    .tabs__panes {
        margin-top: $base-spacing-unit;
    }

    // Tabs indicator
    .tabs__indicator {
        @include position(absolute, (($md-spacing-unit * 3) - 1) 0 null 0);
        height: 2px;
    }

    // Tabs indicator color
    @each $key, $color in $colors {
        .tabs__indicator--#{$key} {
            background-color: $color;
        }
    }





// Tabs link
.tabs-link {
    display: block;
    position: relative;
    height: $md-spacing-unit * 3;
    cursor: pointer;
    @include font-size(14px);
    font-weight: 600;
    line-height: $md-spacing-unit * 3;
    text-align: center;
    text-transform: uppercase;
    @include transition-property(color);
    @include transition-duration(0.2s);
}

@each $key, $color in $colors {
    .tabs__links--link-#{$key} {
        .tabs-link {
            &:hover {
                color: $color;
            }
        }

        .tabs-link--is-active {
            color: $color; 
        }
    }
}

@each $key, $color in $colors {
    .tabs__links--ripple-#{$key} {
        .tabs-link {
            .ripple {
                background-color: rgba($color, 0.3);
            }
        }
    }

}







// Tabs pane
.tabs-pane {
    display: none;
}

.tabs-pane--is-active {
    display: block;
}