///*------------------------------------*\
//    #OBJECTS-TOOLBAR
//\*------------------------------------*/

// Toolbar base styles
.toolbar {
    padding: 0 halve($md-spacing-unit);

    @include media-query(portable) {
        height: $md-spacing-unit * 3.5;
        padding-top: halve($md-spacing-unit);
    }

    @include media-query(desk) {
        height: quadruple($md-spacing-unit);
        padding-top: halve($base-spacing-unit);
    }
}
    
    // Toolbar left area
    .toolbar__left {
        float: left;
    }

    // Toolbar right area
    .toolbar__right {
        float: right;
    }

    // Toolbar label
    .toolbar__label {
        margin-left: 20px;
        @include font-size(20px);
        font-weight: 600;
        line-height: 40px;
    }