///*------------------------------------*\
//    #OBJECTS-BUTTON
//\*------------------------------------*/

// Button vars
$btn-padding:   ('xs': 8px, 's': 10px, 'm': 12px, 'l': 14px, 'xl': 16px);
$btn-font-size: ('xs': 9px, 's': 11px, 'm': 11px, 'l': 13px, 'xl': 14px);





// Button base styles
.btn {
    z-index: 2;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: $md-base-round;
    background-color: transparent;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .ripple {
        z-index: -1;
    }
}

// Sizes
@each $key, $size in $sizes {
    .btn--#{$key} {
        padding-left: map-get($btn-padding, $key);
        padding-right: map-get($btn-padding, $key);
        @include font-size(map-get($btn-font-size, $key));
        line-height: $size;
    }
}

// Disabled states
.btn[disabled],
.btn--is-disabled {
    background-color: #e2e2e2 !important;
    box-shadow: none !important;
    cursor: not-allowed;
    color: #9e9e9e !important;
}





// Flat / Icon button
@each $key, $color in $colors {
    .btn--flat.btn--#{$key},
    .btn--icon.btn--#{$key} {
        color: $color;

        .ripple {
            background-color: rgba($color, 0.3);
        }
    }
}





// Raised / FAB buttons
.btn--raised,
.btn--fab {
    @include z-depth(1);
    @include transition-property(box-shadow);
    @include transition-duration(0.2s);

    &:hover {
        @include z-depth(2);
    }
}

@each $key, $color in $colors {
    .btn--raised.btn--#{$key},
    .btn--fab.btn--#{$key} {
        @if $key == 'white' {
            color: $base-text-color;
        } @else {
            color: #fff;
        }

        background-color: $color;

        .ripple {
            background-color: darken($color, 20%);
        }
    }
}





// Icon / FAB buttons
.btn--icon,
.btn--fab {
    border-radius: 50%;
}

@each $key, $size in $sizes {
    .btn--icon.btn--#{$key},
    .btn--fab.btn--#{$key} {
        @include size($size);
        padding: 0;
        @include font-size((map-get($btn-font-size, $key)) + 4);

        .mdi {
            line-height: $size;
        }
    }
}