///*------------------------------------*\
//    #OBJECTS-FORM
//\*------------------------------------*/

// Form error
.form-error {
	position: relative;
    @extend %bare-list;
    @include font-size(12px);
    color: $red;

    &:after {
    	@include position(absolute, 0 0 null null);
    	@include mdi;
    	content: $mdi-var-warning;
    	line-height: 18px;
    }
}