///*------------------------------------*\
//    #OBJECTS-FILE-INPUT
//\*------------------------------------*/

// Input file base styles
.input-file {
    position: relative;
    padding-top: double($md-spacing-unit);
    padding-bottom: halve($md-spacing-unit);

    &:before,
    &:after {
        content: '';
    }

    &:before {
        @include position(absolute, null 0 (halve($md-spacing-unit) - 1) 0);
        height: 1px;
        border-bottom: 1px solid $black-4;
    }

    &:after {
        @include position(absolute, null 0 (halve($md-spacing-unit) - 2) 0);
        height: 2px;
        background-color: $blue-500;
        @include transform(scale(0));
        @include transition-property(transform);
        @include transition-duration(0.6s);
        @include transition-timing-function($ease-out-quint);
    }

    label {
        display: block;
        position: relative;
        height: double($md-spacing-unit);
        cursor: pointer;
    }
}

// Input file base styles
.input-file--is-active {
    .input-file__label {
        @include font-size(12px);
        @include transform(translateY($md-spacing-unit));
    }

    .input-file__filename {
        opacity: 1;
        @include transform(translateX(0));
    }
}

.input-file--is-focused {
    &:after {
        @include transform(scale(1));
    }

    .input-file__label {
        color: $blue-500;
    }
}
    
    // Input group label
    .input-file__label {
        display: block;
        @include position(absolute, -(double($md-spacing-unit)) null null 0);
        color: $black-3;
        line-height: $md-spacing-unit;
        pointer-events: none;
        @include transform(translateY($md-spacing-unit * 2.5));
        @include transition-property(transform, font-size, color);
        @include transition-duration(0.6s);
        @include transition-timing-function($ease-out-quint);
    }

    .input-file__filename {
        display: block;
        overflow: hidden;
        opacity: 0;
        line-height: double($md-spacing-unit);
        text-overflow: ellipsis;
        white-space: nowrap;
        @include transform(translateX(double($base-spacing-unit)));
        @include transition-property(transform, opacity);
        @include transition-duration(0.6s);
        @include transition-timing-function($ease-out-quint);
    }

    // Input group input
    .input-file__input {
        @extend %visuallyhidden;
    }