<lx-list>
    <lx-list-subheader>Text only</lx-list-subheader>

    <lx-list-item lx-size="huge">
        <lx-list-item-content>
            <div><span>Multi-line item</span></div>
            <div>
                <p class="lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </div>
        </lx-list-item-content>
    </lx-list-item>

    <lx-list-subheader>Rich</lx-list-subheader>

    <lx-list-item lx-size="huge">
        <lx-list-item-before>
            <lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon>
        </lx-list-item-before>

        <lx-list-item-content>
            <div><span>Multi-line item</span></div>
            <div>
                <p class="lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </div>
        </lx-list-item-content>
    </lx-list-item>

    <lx-list-item lx-size="huge">
        <lx-list-item-before>
            <lx-thumbnail lx-image="https://picsum.photos/72/72/?random" lx-variant="rounded"></lx-thumbnail>
        </lx-list-item-before>

        <lx-list-item-content>
            <div><span>Multi-line item</span></div>
            <div>
                <p class="lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </div>
        </lx-list-item-content>

        <lx-list-item-after>
            <lx-button lx-emphasis="low" lx-variant="icon">
                <lx-icon lx-path="{{ vm.icons.mdiDotsHorizontal }}"></lx-icon>
            </lx-button>
        </lx-list-item-after>
    </lx-list-item>

    <lx-list-item lx-size="huge">
        <lx-list-item-before>
            <lx-avatar lx-image="http://i.pravatar.cc/72"></lx-avatar>
        </lx-list-item-before>

        <lx-list-item-content>
            <div><span>Multi-line item</span></div>
            <div>
                <p class="lumx-theme-color-dark-L2">
                    Secondary text Ambitioni dedisse scripsisse iudicaretur. Hi omnes lingua, institutis, legibus inter
                    se differunt. Idque Caesaris facere voluntate liceret: sese habere
                </p>
            </div>
        </lx-list-item-content>

        <lx-list-item-after>
            <lx-button lx-emphasis="low">
                Button
            </lx-button>
        </lx-list-item-after>
    </lx-list-item>
</lx-list>
