<lx-list>
    <lx-list-subheader>Text only</lx-list-subheader>

    <lx-list-item lx-size="tiny">
        <lx-list-item-content>Single-line item</lx-list-item-content>
    </lx-list-item>

    <lx-list-item lx-size="tiny">
        <lx-list-item-content>Single-line item</lx-list-item-content>
    </lx-list-item>

    <lx-list-item lx-size="tiny">
        <lx-list-item-content>Single-line item</lx-list-item-content>
    </lx-list-item>

    <lx-list-subheader>Text with icon</lx-list-subheader>

    <lx-list-item lx-size="tiny">
        <lx-list-item-before>
            <lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon>
        </lx-list-item-before>

        <lx-list-item-content>
            Single-line item
        </lx-list-item-content>
    </lx-list-item>

    <lx-list-item lx-size="tiny">
        <lx-list-item-before>
            <lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon>
        </lx-list-item-before>

        <lx-list-item-content>
            Single-line item
        </lx-list-item-content>
    </lx-list-item>

    <lx-list-item lx-size="tiny">
        <lx-list-item-before>
            <lx-icon lx-path="{{ vm.icons.mdiSend }}" lx-size="xs"></lx-icon>
        </lx-list-item-before>

        <lx-list-item-content>
            Single-line item
        </lx-list-item-content>
    </lx-list-item>
</lx-list>
