<div class="radio-button radio-button--{{ lxRadioButton.lxColor }}"
     ng-class="{ 'radio-button--theme-light': !lxRadioButton.lxTheme || lxRadioButton.lxTheme === 'light',
                 'radio-button--theme-dark': lxRadioButton.lxTheme === 'dark' }">
    <input id="{{ lxRadioButton.getRadioButtonId() }}"
           type="radio"
           class="radio-button__input"
           name="{{ lxRadioButton.name }}"
           ng-model="lxRadioButton.ngModel"
           ng-value="lxRadioButton.ngValue"
           ng-change="lxRadioButton.triggerNgChange()"
           ng-disabled="lxRadioButton.ngDisabled">
    <label for="{{ lxRadioButton.getRadioButtonId() }}" class="radio-button__label" ng-transclude ng-if="!lxRadioButton.getRadioButtonHasChildren()"></label>
    <ng-transclude-replace ng-if="lxRadioButton.getRadioButtonHasChildren()"></ng-transclude-replace>
</div>
