<div
    class="lumx-radio-button"
    ng-class="{ 'lumx-radio-button--is-checked': lx.viewValue === lx.radioButtonValue,
                'lumx-radio-button--is-unchecked': lx.viewValue !== lx.radioButtonValue,
                'lumx-radio-button--theme-light': !lx.theme || lx.theme === 'light',
                'lumx-radio-button--theme-dark': lx.theme === 'dark',
                'lumx-custom-colors': lx.customColors }"
>
    <div class="lumx-radio-button__input-wrapper">
        <input
            type="radio"
            id="{{ lx.radioButtonId }}"
            class="lumx-radio-button__input-native"
            ng-checked="lx.viewValue === lx.radioButtonValue"
            ng-click="lx.updateViewValue()"
        />

        <div class="lumx-radio-button__input-placeholder">
            <div class="lumx-radio-button__input-background"></div>
            <div class="lumx-radio-button__input-indicator"></div>
        </div>
    </div>

    <div class="lumx-radio-button__content" ng-if="::!lx.hasLabel && !lx.hasHelper && lx.hasTranscluded">
        <label for="{{ lx.radioButtonId }}" class="lumx-radio-button__label" ng-transclude></label>
    </div>

    <div class="lumx-radio-button__content" ng-if="::lx.hasLabel">
        <label for="{{ lx.radioButtonId }}" class="lumx-radio-button__label" ng-transclude="label"></label>
        <span class="lumx-radio-button__helper" ng-transclude="helper" ng-if="::lx.hasHelper"></span>
    </div>
</div>
