.to-do__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.to-do__item {
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
    font-size: 24px;
    padding-left: 12px;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    &-label {
        display: block;
        line-height: 1.8;
        transition: color 0.4s;
        word-break: break-word;

        &--is-done {
            color: #D9D9D9;
            text-decoration: line-through;
        }
    }

    &-done-date {
        display: block;
        font-size: 12px;
    }
}
