<div class="p+">
    <lx-button ng-click="vm.openDropdown($event)">Open dropdown</lx-button>
    <lx-button ng-click="vm.closeDropdown($event)">Close dropdown</lx-button>

    <div class="mt+ p bgc-grey-100" id="{{ vm.dropdownTarget }}">Target</div>
 
    <lx-dropdown id="{{ vm.dropdownId }}">
        <lx-dropdown-menu>
            <ul>
                <li><a class="dropdown-link">An action</a></li>
                <li><a class="dropdown-link">Another action</a></li>
                <li><a class="dropdown-link">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                <li><a class="dropdown-link">Separated link</a></li>
            </ul>
        </lx-dropdown-menu>
    </lx-dropdown>
</div>