<div class="lx-select"
     ng-class="{ 'lx-select--is-unique': !lxSelect.multiple,
                 'lx-select--is-multiple': lxSelect.multiple,
                 'lx-select--is-disabled': lxSelect.ngDisabled,
                 'lx-select--valid': lxSelect.valid,
                 'lx-select--error': lxSelect.error,
                 'lx-select--default-style': !lxSelect.customStyle,
                 'lx-select--custom-style': lxSelect.customStyle }">
    <span class="lx-select-label"
          ng-class="{ 'lx-select-label--fixed': lxSelect.fixedLabel,
                      'lx-select-label--is-active': (!lxSelect.multiple && lxSelect.getSelectedModel()) || (lxSelect.multiple && lxSelect.getSelectedModel().length) }">
        {{ ::lxSelect.placeholder }}
    </span>

    <lx-dropdown lx-width="100%">
        <ng-transclude></ng-transclude>
    </lx-dropdown>
</div>
