<div class="lx-select"
     ng-class="{ 'lx-select--is-unique': !lxSelect.multiple,
                 'lx-select--is-multiple': lxSelect.multiple,
                 'lx-select--is-disabled': lxSelect.ngDisabled,
                 'lx-select--valid': lxSelect.valid,
                 'lx-select--error': lxSelect.error,
                 'lx-select--default-style': !lxSelect.customStyle,
                 'lx-select--custom-style': lxSelect.customStyle }">
    <lx-dropdown lx-over-toggle="true">
        <ng-transclude></ng-transclude>
    </lx-dropdown>
</div>
