/* ==========================================================================
   Main
   ========================================================================== */

.main {
    flex: 1;
    justify-content: center;
    padding: $lumx-spacing-unit * 6;
    overflow-y: scroll;

    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
    }
}

/* Main content
   ========================================================================== */

.main-content {
    margin-top: $lumx-spacing-unit * 6;

    &__wrapper {
        display: flex;
        flex-direction: column;

        & > h1 {
            @include lumx-typography(display1);
        }

        & > h2 {
            @include lumx-typography(headline);
        }

        & > h3 {
            @include lumx-typography(title);
        }

        & > p > strong {
            @include lumx-typography(subtitle2);
        }

        & > h2,
        & > h3 {
            margin-top: $lumx-spacing-unit * 2;
        }

        & > h1,
        & > h2,
        & > h3,
        & > p,
        & > div {
            margin-bottom: $lumx-spacing-unit * 2;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
