/* ==========================================================================
   Fab
   ========================================================================== */

.fab {
    $self: &;

    position: relative;
    display: inline-flex;

    &__primary {
        button {
            @include lumx-elevation(4);

            width: $size-xl !important;
            height: $size-xl !important;
        }

        i {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px !important;
            transition-duration: 0.4s;
            transition-property: opacity, transform;
            transition-timing-function: $ease-out-quint;

            &:first-child {
                opacity: 1;
                transform: rotate(0);
            }

            &:last-child {
                opacity: 0;
                transform: rotate(-45deg);
            }

            #{$self}--trigger-on-hover:hover &,
            #{$self}--trigger-on-click#{$self}--is-open & {
                &:first-child {
                    opacity: 0;
                    transform: rotate(45deg);
                }

                &:last-child {
                    opacity: 1;
                    transform: rotate(0);
                }
            }
        }
    }

    &__actions {
        position: absolute;
        pointer-events: none;

        button {
            @include lumx-elevation(4);

            display: block;
            opacity: 0;
            transform: scale(0.6);
            transition-duration: 0.4s;
            transition-property: opacity, transform;
            transition-timing-function: $ease-out-quint;
        }

        &--up,
        &--left {
            button {
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay: 0.02s * (10 / $i);
                    }
                }
            }
        }

        &--down,
        &--right {
            button {
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay: 0.05s * $i;
                    }
                }
            }
        }

        &--left,
        &--right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &--up {
            bottom: $size-xl;
            left: $base-spacing-unit;

            button {
                margin-bottom: $base-spacing-unit * 2;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &--down {
            top: $size-xl;
            left: $base-spacing-unit;

            button {
                margin-top: $base-spacing-unit * 2;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &--left {
            right: $size-xl;
            bottom: $base-spacing-unit;

            button {
                margin-right: $base-spacing-unit * 2;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--right {
            bottom: $base-spacing-unit;
            left: $size-xl;

            button {
                margin-left: $base-spacing-unit * 2;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        #{$self}--trigger-on-hover:hover &,
        #{$self}--trigger-on-click#{$self}--is-open & {
            pointer-events: auto;

            button {
                opacity: 1;
            }

            &--up button {
                transform: scale(1) translateY(-($base-spacing-unit * 2));
            }

            &--right button {
                transform: scale(1) translateX($base-spacing-unit * 2);
            }

            &--down button {
                transform: scale(1) translateY($base-spacing-unit * 2);
            }

            &--left button {
                transform: scale(1) translateX(-($base-spacing-unit * 2));
            }
        }
    }
}
