<ul class="main-nav main-nav--{{ lxMainNav.context }}">
    <li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="Getting started" lx-state="app.getting-started" lx-sub-nav="/includes/layout/sub-nav/sub-nav-getting-started.html"></lx-main-nav-link>
    </li>
    <li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="CSS" lx-state="app.css" lx-sub-nav="/includes/layout/sub-nav/sub-nav-css.html"></lx-main-nav-link>
    </li>
    <li>
        <lx-main-nav-link lx-context="{{ lxMainNav.context }}" lx-label="Components" lx-state="app.components" lx-sub-nav="/includes/layout/sub-nav/sub-nav-components.html"></lx-main-nav-link>
    </li>
</ul>