<lx-grid lx-orientation="horizontal" lx-v-align="space-around">
    <lx-thumbnail
        lx-aspect-ratio="original"
        lx-image="https://picsum.photos/320/240/?random"
        lx-size="l"
        lx-variant="rounded"
    ></lx-thumbnail>

    <lx-thumbnail
        lx-aspect-ratio="vertical"
        lx-image="https://picsum.photos/240/320/?random"
        lx-size="m"
        lx-variant="rounded"
    ></lx-thumbnail>

    <lx-thumbnail
        lx-aspect-ratio="square"
        lx-image="https://picsum.photos/128/128/?random"
        lx-size="xl"
        lx-variant="rounded"
    ></lx-thumbnail>
</lx-grid>
