<lx-grid lx-orientation="horizontal" lx-v-align="space-between">
    <lx-thumbnail
        lx-aspect-ratio="original"
        lx-image="https://picsum.photos/28/28/?random"
        lx-size="xxs"
    ></lx-thumbnail>

    <lx-thumbnail lx-aspect-ratio="original" lx-image="https://picsum.photos/40/40/?random" lx-size="xs"></lx-thumbnail>

    <lx-thumbnail lx-aspect-ratio="original" lx-image="https://picsum.photos/48/48/?random" lx-size="s"></lx-thumbnail>

    <lx-thumbnail lx-aspect-ratio="original" lx-image="https://picsum.photos/72/72/?random" lx-size="m"></lx-thumbnail>

    <lx-thumbnail
        lx-aspect-ratio="original"
        lx-image="https://picsum.photos/128/128/?random"
        lx-size="l"
    ></lx-thumbnail>

    <lx-thumbnail
        lx-aspect-ratio="original"
        lx-image="https://picsum.photos/256/256/?random"
        lx-size="xl"
    ></lx-thumbnail>

    <div style="width:300px">
        <lx-thumbnail lx-aspect-ratio="original" lx-image="https://picsum.photos/400/400/?random"></lx-thumbnail>
    </div>
</lx-grid>
