<div class="main-nav__wrapper">
    <div class="main-nav__logo">
        <img src="../../assets/images/logo.svg" alt="LumX" />
        <span><strong>LumApps</strong> design system</span>
    </div>

    <lx-side-navigation>
        <lx-side-navigation-item
            lx-emphasis="medium"
            lx-is-open="section.isOpen"
            lx-label="{{ section.label }}"
            ng-repeat="section in vm.STATES"
        >
            <lx-side-navigation-item
                lx-emphasis="low"
                lx-is-selected="vm.isCurrent(item.state)"
                lx-label="{{ item.label }}"
                lx-on-click="vm.goTo(item.state)"
                ng-repeat="item in section.children"
            ></lx-side-navigation-item>
        </lx-side-navigation-item>
    </lx-side-navigation>
</div>
