<div class="sidebar">
    <ul>
        <li>
            <a class="sidebar__link" ui-sref="app.components.button" ui-sref-active="sidebar__link--is-active">Button</a>
        </li>
        <li>
            <a class="sidebar__link" ui-sref="app.components.card" ui-sref-active="sidebar__link--is-active">Card</a>
        </li>
        <li>
            <a class="sidebar__link" ui-sref="app.components.checkbox" ui-sref-active="sidebar__link--is-active">Checkbox</a>
        </li>
        <li>
            <a class="sidebar__link" ui-sref="app.components.data-table" ui-sref-active="sidebar__link--is-active">Data table</a>
        </li>
        <li>
            <a class="sidebar__link" ui-sref="app.components.text-field" ui-sref-active="sidebar__link--is-active">Text field</a>
        </li>
    </ul>
</div>
