<div class="lumx-switch" ng-class="lx.getClasses()">
    <div class="lumx-switch__input-wrapper">
        <input
            type="checkbox"
            id="{{ lx.switchId }}"
            class="lumx-switch__input-native"
            ng-checked="lx.viewValue"
            ng-click="lx.updateViewValue()"
        />

        <div class="lumx-switch__input-placeholder">
            <div class="lumx-switch__input-background"></div>
            <div class="lumx-switch__input-indicator"></div>
        </div>
    </div>

    <div class="lumx-switch__content" ng-if="::!lx.hasLabel && !lx.hasHelper && lx.hasTranscluded">
        <label for="{{ lx.switchId }}" class="lumx-switch__label" ng-transclude></label>
    </div>

    <div class="lumx-switch__content" ng-if="::lx.hasLabel">
        <label for="{{ lx.switchId }}" class="lumx-switch__label" ng-transclude="label"></label>
        <span class="lumx-switch__helper" ng-transclude="helper" ng-if="::lx.hasHelper"></span>
    </div>
</div>
