<table
    class="lumx-table"
    ng-class="{ 'lumx-table--has-before': lx.hasBulk,
                'lumx-table--has-dividers': lx.hasDividers,
                'lumx-table--is-clickable': lx.isClickable,
                'lumx-table--theme-light': !lx.theme || lx.theme === 'light',
                'lumx-table--theme-dark': lx.theme === 'dark' }"
>
    <thead>
        <tr class="lumx-table__row">
            <th class="lumx-table__cell lumx-table__cell--head" ng-if="lx.hasBulk">
                <div class="lumx-table__cell-wrapper">
                    <div class="lumx-table__cell-content">
                        <lx-checkbox
                            ng-click="lx.toggleAllSelected()"
                            ng-checked="lx.allRowsSelected"
                            lx-stop-propagation="click keydown"
                        ></lx-checkbox>
                    </div>
                </div>
            </th>

            <th
                class="lumx-table__cell lumx-table__cell--head"
                ng-class="{ 'lumx-table__cell--is-sortable': th.isSortable,
                            'lumx-table__cell--is-sorted': th.isSortable && th.sortOrder }"
                ng-click="lx.sort(th)"
                ng-repeat="th in lx.thead"
                scope="col"
                tabindex="{{ th.isSortable ? 0 : -1 }}"
            >
                <div class="lumx-table__cell-wrapper">
                    <lx-icon
                        class="lumx-table__cell-icon"
                        lx-id="{{ th.icon }}"
                        lx-size="xxs"
                        ng-if="th.icon && !th.isSortable"
                    ></lx-icon>

                    <lx-icon
                        class="lumx-table__cell-icon"
                        lx-path="{{ lx.icons.mdiArrowUp }}"
                        lx-size="xxs"
                        ng-if="th.isSortable && th.sortOrder === 'asc'"
                    ></lx-icon>

                    <lx-icon
                        class="lumx-table__cell-icon"
                        lx-path="{{ lx.icons.mdiArrowDown }}"
                        lx-size="xxs"
                        ng-if="th.isSortable && th.sortOrder === 'desc'"
                    ></lx-icon>

                    <div class="lumx-table__cell-content">
                        <span>{{ th.label }}</span>
                    </div>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr
            class="lumx-table__row"
            ng-class="{ 'lumx-table__row--is-clickable': lx.isClickable,
                        'lumx-table__row--is-selected': tr.lxDataTableSelected }"
            ng-repeat="tr in lx.tbody"
            ng-click="lx.toggleSelection(tr)"
            tabindex="{{ lx.isClickable ? 0 : -1 }}"
        >
            <td class="lumx-table__cell lumx-table__cell--body" ng-if="lx.hasBulk">
                <div class="lumx-table__cell-content">
                    <lx-checkbox
                        ng-click="lx.toggleSelection(tr)"
                        ng-checked="tr.lxDataTableSelected"
                        lx-stop-propagation="click keydown"
                    ></lx-checkbox>
                </div>
            </td>

            <td class="lumx-table__cell lumx-table__cell--body" ng-repeat="th in lx.thead">
                <div class="lumx-table__cell-content" ng-if="!th.format">
                    <span>{{ tr[th.name] }}</span>
                </div>

                <div
                    class="lumx-table__cell-content"
                    ng-bind-html="lx.$sce.trustAsHtml(th.format(tr))"
                    ng-if="th.format"
                ></div>
            </td>
        </tr>
    </tbody>
</table>
