<lx-tabs lx-theme="{{ demoBlock.theme }}">
    <lx-tab lx-label="Active">
        <div class="lumx-spacing-padding-vertical-big">
            <p>Active</p>
        </div>
    </lx-tab>

    <lx-tab lx-label="Disable" ng-disabled="true">
        <div class="lumx-spacing-padding-vertical-big">
            <p>Disable</p>
        </div>
    </lx-tab>

    <lx-tab lx-label="Active">
        <div class="lumx-spacing-padding-vertical-big">
            <p>Active</p>
        </div>
    </lx-tab>
</lx-tabs>
