///*------------------------------------*\
//    #PAGE
//\*------------------------------------*/

// body
body {
    font-family: Roboto;
}

code {
    padding: 2px 4px;
    border-radius: $base-round;
    background-color: $indigo-50;
    font-size: 90%;
    color: $primary;
}