///*------------------------------------*\
//    #PAGE
//\*------------------------------------*/

// body
body {
    background-color: $grey-200;
}

code {
    padding: 2px 4px;
    background-color: $indigo-50;
    border-radius: $base-round;
    color: $primary;
    font-size: 90%;
}
