<div class="p+ pt0">
    <lx-text-field lx-label="Company" lx-allow-clear="true">
        <input type="text" ng-model="vm.textFields.floating.company">
    </lx-text-field>
 
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field lx-label="First name">
                <input type="text" ng-model="vm.textFields.floating.firstName">
            </lx-text-field>
        </div>
 
        <div flex-item>
            <lx-text-field lx-label="Last name">
                <input type="text" ng-model="vm.textFields.floating.lastName">
            </lx-text-field>
        </div>
    </div>
</div>
