<!-- Light theme -->
<div flex-container="row">
    <div flex-item>
        <lx-text-field lx-label="Company" ng-disabled="true">
            <input type="text" ng-model="textFields.disabled">
        </lx-text-field>
    </div>
</div>

<div flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-text-field lx-label="Last name">
            <input type="text" ng-model="textFields.lastName">
        </lx-text-field>
    </div>

    <div flex-item>
        <lx-text-field lx-label="First name">
            <input type="text" ng-model="textFields.firstName">
        </lx-text-field>
    </div>
</div>

<div flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-text-field lx-label="Email" lx-error="!emailValidation(textFields.firstEmail)">
            <input type="email" ng-model="textFields.firstEmail">
        </lx-text-field>

        <span class="text-field-error" ng-if="!emailValidation(textFields.firstEmail)">Email invalid</span>
    </div>

    <div flex-item>
        <lx-text-field lx-label="Email" lx-error="!emailValidation(textFields.secondEmail)">
            <input type="email" ng-model="textFields.secondEmail">
        </lx-text-field>
    </div>

    <div flex-item>
        <lx-text-field lx-label="Repeat previous email"
                       lx-valid="emailValidation(textFields.secondEmail) && textFields.secondEmail === textFields.thirdEmail"
                       lx-error="!emailValidation(textFields.secondEmail) || textFields.secondEmail !== textFields.thirdEmail">
            <input type="email" ng-model="textFields.thirdEmail">
        </lx-text-field>
    </div>
</div>

<div flex-container="row">
    <div flex-item>
        <lx-text-field lx-label="Description">
            <textarea ng-model="textFields.description"></textarea>
        </lx-text-field>
    </div>
</div>

<div class="mt++" flex-container="row" flex-gutter="24">
    <div flex-item>
        <form>
            <lx-text-field lx-label="First and last name" lx-fixed-label="true" lx-icon="account">
                <input type="text" ng-model="textFields.fixedFirstName">
            </lx-text-field>

            <lx-text-field lx-label="Phone number" lx-fixed-label="true" lx-icon="phone">
                <input type="text" ng-model="textFields.fixedLastName">
            </lx-text-field>

            <lx-text-field lx-label="Email address" lx-fixed-label="true" lx-icon="email">
                <input type="email" ng-model="textFields.fixedEmail">
            </lx-text-field>

            <lx-text-field lx-label="Location" lx-fixed-label="true" lx-icon="city">
                <input type="text" ng-model="textFields.fixedAdress">
            </lx-text-field>
        </form>
    </div>

    <div flex-item>
        <form>
            <lx-text-field lx-label="First name" lx-fixed-label="true">
                <input type="text" ng-model="textFields.fixedFirstName2">
            </lx-text-field>

            <lx-text-field lx-label="Last name" lx-fixed-label="true">
                <input type="text" ng-model="textFields.fixedLastName2">
            </lx-text-field>

            <lx-text-field lx-label="Email" lx-fixed-label="true">
                <input type="email" ng-model="textFields.fixedEmail2">
            </lx-text-field>

            <lx-text-field lx-label="Address" lx-fixed-label="true">
                <input type="text" ng-model="textFields.fixedAdress2">
            </lx-text-field>
        </form>
    </div>
</div>

<!-- Dark theme -->
<div class="bgc-grey-800 mt++ p++ pt0">
    <div flex-container="row">
        <div flex-item>
            <lx-text-field lx-label="Company" ng-disabled="true" theme="dark">
                <input type="text" ng-model="textFields.disabledDark" ng-disabled="true">
            </lx-text-field>
        </div>
    </div>

    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field lx-label="Last name" theme="dark">
                <input type="text" ng-model="textFields.lastNameDark">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field lx-label="First name" theme="dark">
                <input type="text" ng-model="textFields.firstNameDark">
            </lx-text-field>
        </div>
    </div>

    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field lx-label="Email" lx-error="!emailValidation(textFields.firstEmail)" theme="dark">
                <input type="email" ng-model="textFields.firstEmailDark">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field lx-label="Email" lx-error="!emailValidation(textFields.secondEmail)" theme="dark">
                <input type="email" ng-model="textFields.secondEmailDark">
            </lx-text-field>
        </div>

        <div flex-item>
            <lx-text-field lx-label="Repeat previous email"
                           lx-valid="emailValidation(textFields.secondEmail) && textFields.secondEmail === textFields.thirdEmail"
                           lx-error="!emailValidation(textFields.secondEmail) || textFields.secondEmail !== textFields.thirdEmail"
                           theme="dark">
                <input type="email" ng-model="textFields.thirdEmailDark">
            </lx-text-field>
        </div>
    </div>

    <div flex-container="row">
        <div flex-item>
            <lx-text-field lx-label="Description" theme="dark">
                <textarea ng-model="textFields.descriptionDark"></textarea>
            </lx-text-field>
        </div>
    </div>

    <div class="mt++" flex-container="row" flex-gutter="24">
        <div flex-item>
            <form>
                <lx-text-field lx-label="First and last name" lx-fixed-label="true" lx-icon="account" theme="dark">
                    <input type="text" ng-model="textFields.fixedFirstNameDark">
                </lx-text-field>

                <lx-text-field lx-label="Phone number" lx-fixed-label="true" lx-icon="phone" theme="dark">
                    <input type="text" ng-model="textFields.fixedLastNameDark">
                </lx-text-field>

                <lx-text-field lx-label="Email address" lx-fixed-label="true" lx-icon="email" theme="dark">
                    <input type="email" ng-model="textFields.fixedEmailDark">
                </lx-text-field>

                <lx-text-field lx-label="Location" lx-fixed-label="true" lx-icon="city" theme="dark">
                    <input type="text" ng-model="textFields.fixedAdressDark">
                </lx-text-field>
            </form>
        </div>

        <div flex-item>
            <form>
                <lx-text-field lx-label="First name" lx-fixed-label="true" theme="dark">
                    <input type="text" ng-model="textFields.fixedFirstName2Dark">
                </lx-text-field>

                <lx-text-field lx-label="Last name" lx-fixed-label="true" theme="dark">
                    <input type="text" ng-model="textFields.fixedLastName2Dark">
                </lx-text-field>

                <lx-text-field lx-label="Email" lx-fixed-label="true" theme="dark">
                    <input type="email" ng-model="textFields.fixedEmail2Dark">
                </lx-text-field>

                <lx-text-field lx-label="Address" lx-fixed-label="true" theme="dark">
                    <input type="text" ng-model="textFields.fixedAdress2Dark">
                </lx-text-field>
            </form>
        </div>
    </div>
</div>
