<div class="p+">
    <lx-radio-group>
        <lx-radio-button name="test3" value="lorem" ng-model="vm.radioButtons.states.test3" ng-disabled="true">
            <lx-radio-button-label>Radio Button with help 1</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
 
        <lx-radio-button name="test3" value="ipsum" ng-model="vm.radioButtons.states.test3" ng-disabled="true">
            <lx-radio-button-label>Radio Button with help 2</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
 
        <lx-radio-button name="test3" value="dolor" ng-model="vm.radioButtons.states.test3" ng-disabled="true">
            <lx-radio-button-label>Radio Button with help 3</lx-radio-button-label>
            <lx-radio-button-help>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere faucibus efficitur.</lx-radio-button-help>
        </lx-radio-button>
    </lx-radio-group>
</div>