<div class="checkbox checkbox--{{ lxCheckbox.lxColor }}"
     ng-class="{ 'checkbox--theme-light': !lxCheckbox.lxTheme || lxCheckbox.lxTheme === 'light',
                 'checkbox--theme-dark': lxCheckbox.lxTheme === 'dark' }">
    <input id="{{ lxCheckbox.getCheckboxId() }}"
           type="checkbox"
           class="checkbox__input"
           name="{{ lxCheckbox.name }}"
           ng-model="lxCheckbox.ngModel"
           ng-true-value="{{ lxCheckbox.ngTrueValue }}"
           ng-false-value="{{ lxCheckbox.ngFalseValue }}"
           ng-change="lxCheckbox.triggerNgChange()"
           ng-disabled="lxCheckbox.ngDisabled">
    <label for="{{ lxCheckbox.getCheckboxId() }}" class="checkbox__label" ng-transclude ng-if="!lxCheckbox.getCheckboxHasChildren()"></label>
    <ng-transclude-replace ng-if="lxCheckbox.getCheckboxHasChildren()"></ng-transclude-replace>
</div>
