<div class="p+">
    {{ vm.datePicker.basic.dateFormatted }}
 
    <div class="mt">
        <lx-button ng-click="vm.openDatePicker(vm.datePickerId)">Open date picker</lx-button>
    </div>
 
    <lx-date-picker id="{{ vm.datePickerId }}"
                    ng-model="vm.datePicker.basic.date"
                    lx-callback="vm.datePickerCallback(newDate)"
                    lx-locale="{{ vm.locale }}"
                    lx-max-date="vm.datePicker.basic.maxDate"
                    lx-min-date="vm.datePicker.basic.minDate"></lx-date-picker>
</div>