html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    color: #4D4D4D;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto;
    max-width: 550px;
    min-width: 230px;
}

button,
input {
    outline: none;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100%;
}
