<demo-grid>
    <lx-chip
        lx-is-selected="vm.isSelected.unique[0]"
        lx-on-click="vm.toggleSelected('unique', 0)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Am</lx-chip-label>
    </lx-chip>

    <lx-chip
        lx-is-selected="vm.isSelected.unique[1]"
        lx-on-click="vm.toggleSelected('unique', 1)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Stram</lx-chip-label>
    </lx-chip>

    <lx-chip
        lx-is-selected="vm.isSelected.unique[2]"
        lx-on-click="vm.toggleSelected('unique', 2)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Gram</lx-chip-label>
    </lx-chip>

    <lx-chip
        lx-is-selected="vm.isSelected.unique[3]"
        lx-on-click="vm.toggleSelected('unique', 3)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Pic</lx-chip-label>
    </lx-chip>

    <lx-chip
        lx-is-selected="vm.isSelected.unique[4]"
        lx-on-click="vm.toggleSelected('unique', 4)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Pic</lx-chip-label>
    </lx-chip>

    <lx-chip
        lx-is-selected="vm.isSelected.unique[5]"
        lx-on-click="vm.toggleSelected('unique', 5)"
        lx-theme="{{ demoBlock.theme }}"
    >
        <lx-chip-label>Colegram</lx-chip-label>
    </lx-chip>
</demo-grid>
