<demo-grid>
    <lx-chip lx-theme="{{ demoBlock.theme }}" lx-on-click="vm.clickCallback()">
        <lx-chip-label>
            Dismissible
        </lx-chip-label>

        <lx-chip-after>
            <lx-icon lx-path="{{ vm.icons.mdiClose }}" lx-size="xs"></lx-icon>
        </lx-chip-after>
    </lx-chip>

    <lx-chip lx-theme="{{ demoBlock.theme }}" lx-on-click="vm.clickCallback()">
        <lx-chip-before>
            <lx-icon lx-path="{{ vm.icons.mdiEmail }}" lx-size="xs"></lx-icon>
        </lx-chip-before>

        <lx-chip-label>
            Dismissible rich
        </lx-chip-label>

        <lx-chip-after>
            <lx-icon lx-path="{{ vm.icons.mdiClose }}" lx-size="xs"></lx-icon>
        </lx-chip-after>
    </lx-chip>
</demo-grid>
