///*------------------------------------*\
//    #HOME
//\*------------------------------------*/

// Home
.home {

}





// Home banner
.home-banner {
    height: 400px;
    background-color: $indigo-700;
    text-align: center;
}
    
    // Home banner: wrapper
    .home-banner__wrapper {
        @include wrapper();
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        height: 320px;
    }
    
    // Home banner: title
    .home-banner__title {
        margin-bottom: $base-spacing-unit;
        font-weight: 300;
        color: $white-1;

        @include media-query(portable) {
            @include font-size(24px);
        }

        @include media-query(desk) {
            @include font-size(32px);
        }
    }
    
    // Home banner: subtitle
    .home-banner__subtitle {
        margin-bottom: $base-spacing-unit * 3;
        font-weight: 700;
        color: $white-1;

        @include media-query(portable) {
            @include font-size(16px);
        }

        @include media-query(desk) {
            @include font-size(24px);
        }
    }
    
    // Home banner: download
    .home-banner__download {
        margin: 0 auto;
        padding: $base-spacing-unit * 2 $base-spacing-unit * 4;
        border-radius: $base-round;
        background-color: $amber;
        font-weight: 500;
        color: $black-1;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    // Home banner: version
    .home-banner__version {
        margin-top: $base-spacing-unit;
        color: $white-2;
    }





// Home features
.home-features {
    margin-top: -80px;
}
    
    // Home features: wrapper
    .home-features__wrapper {
        @include wrapper();
    }





// Home feature
.home-feature {
    
}
    
    // Home feature: wrapper
     .home-feature__wrapper {
        padding: 0 $base-spacing-unit * 3;
        border-radius: $base-round;
        background-color: $white;
        @include z-depth(1);

        h3 {
            padding: $base-spacing-unit * 1.5 0;
            border-bottom: 1px solid $black-4;
            @include font-size(20px);
            font-weight: 500;
            color: $indigo-700;
        }

        p {
            padding: $base-spacing-unit * 2 0;
        }
     }