///*------------------------------------*\
//    #MAIN
//\*------------------------------------*/

// Main section
.main-section {
    padding: $base-spacing-unit * 3;
}
    
    // Main section: title
    .main-section__title {
        @include font-size(24px);
        font-weight: 700;
        color: $primary;
    }
    
    // Main section: intro
    .main-section__intro {
        font-weight: 700;

        a {
            color: $primary;
        }
    }
    
    // Main section: warning
    .main-section__warning {
        margin-top: $base-spacing-unit * 3;
        padding: $base-spacing-unit * 2;
        border: 1px solid $indigo-100;
        border-radius: $base-round;
        background-color: $indigo-50;
        @include font-size(14px);
        font-weight: 700;
        color: $primary;
    }