///*------------------------------------*\
//    #MAIN-NAV
//\*------------------------------------*/

// Main nav
.main-nav {
    @include media-query(portable) {
        &.main-nav--header {
            display: none;
        }
    }
}





// Main nav link
.main-nav-link {
    
}
    
    // Main nav link: state
    .main-nav-link__state {
        .main-nav--palm-nav & {
            display: block;
            position: relative;
            padding: 0 $base-spacing-unit * 3;
            border-bottom: 1px solid $black-4;
            @include font-size(14px);
            font-weight: 700;
            color: $black-1;
            line-height: 60px;
            text-decoration: none;

            &:after {
                @include mdi;
                @include mdi-icon(chevron-right);
                @include position(absolute, 50% $base-spacing-unit * 3 null null);
                @include transform(translateY(-50%));
                @include font-size(20px);
                color: $black-2;
            }
            
            &.main-nav-link__state--is-open {
                &:after {
                    @include mdi-icon(chevron-down);
                }
            }
        }

        .main-nav--header & {
            display: block;
            height: 48px;
            padding: 0 $base-spacing-unit * 2;
            @include font-size(14px);
            font-weight: 700;
            line-height: 48px;
            text-decoration: none;
            color: $white-1;

            &:hover,
            &.main-nav-link__state--is-active {
                border-bottom: 4px solid $amber;
            }
        }
    }
    
    // Main nav link: sub nav
    .main-nav-link__sub-nav {
        .main-nav--header & {
            display: none;
        }
    }