///*------------------------------------*\
//    #PALM-NAV
//\*------------------------------------*/

// Palm nav filter
.palm-nav-filter {
    @include position(fixed, 0 0 0 0);
    z-index: 999;
    background-color: $black-2;
    opacity: 0;
    pointer-events: none;
    @include transition-property(opacity);
    @include transition-duration(0.4s);
    @include transition-timing-function($ease-out-quint);

    @include media-query(desk) {
        display: none;
    }
}

.palm-nav-filter--is-open {
    opacity: 1;
    pointer-events: auto;
}





// Palm nav
.palm-nav {
    @include position(fixed, 0 null 0 0);
    z-index: 1000;
    width: 300px;
    background-color: $white;
    overflow: auto;
    @include transform(translateX(-300px));
    @include transition-property(box-shadow, transform);
    @include transition-duration(0.4s);
    @include transition-timing-function($ease-out-quint);

    @include media-query(desk) {
        display: none !important;
    }
}

.palm-nav--is-open {
    @include media-query(portable) {
        @include z-depth(3);
        @include transform(translateX(0px));
    }
}

    // Palm nav: logo
    .palm-nav__logo {
        display: block;
        height: 60px;
        padding: $base-spacing-unit * 1.5 $base-spacing-unit * 3;
        border-bottom: 1px solid $black-4;

        img {
            max-height: 100%;
        }
    }