///*------------------------------------*\
//    #SIDEBAR
//\*------------------------------------*/

// Sidebar
.sidebar {
    padding: $base-spacing-unit * 1.5 0;
}

    // Sidebar: link
    .sidebar__link {
        display: block;
        padding: 0 $base-spacing-unit * 2;
        @include font-size(14px);
        font-weight: 700;
        color: $black-1;
        line-height: $size-l;
        text-decoration: none;

        &:hover,
        &.sidebar__link--is-active {
            background-color: $primary;
            color: $white-1;
        }
    }