///*------------------------------------*\
//    #SUB-NAV
//\*------------------------------------*/

// Sub nav
.sub-nav {
    margin: 0;
    padding: $base-spacing-unit * 1.5 0;
    list-style: none;

    .main-nav--palm-nav & {
        border-bottom: 1px solid $black-4;
    }

    .main-nav--palm-nav > li:last-child & {
        border-bottom: none;
    }
}

    // Sub nav: link
    .sub-nav__link {
        .main-nav--palm-nav & {
            display: block;
            position: relative;
            padding: 0 $base-spacing-unit * 3;
            @include font-size(14px);
            font-weight: 700;
            color: $black-1;
            line-height: 48px;
            text-decoration: none;

            &:hover,
            &.sub-nav__link--is-active {
                background-color: $grey-200;
            }
        }

        .app__sidebar & {
            display: block;
            padding: 0 $base-spacing-unit * 2;
            @include font-size(14px);
            font-weight: 700;
            color: $black-1;
            line-height: $size-l;
            text-decoration: none;

            &:hover,
            &.sub-nav__link--is-active {
                background-color: $primary;
                color: $white-1;
            }
        }
    }