<div
    class="lumx-text-field"
    ng-class="{ 'lumx-text-field--theme-light': !lx.theme || lx.theme === 'light',
                'lumx-text-field--theme-dark': lx.theme === 'dark',
                'lumx-text-field--has-label': lx.label,
                'lumx-text-field--has-icon': lx.icon,
                'lumx-text-field--has-value': lx.hasValue(),
                'lumx-text-field--is-valid': lx.isValid,
                'lumx-text-field--has-error': lx.hasError }"
>
    <label for="{{ lx.inputId }}" class="lumx-text-field__label" ng-if="::lx.label">
        {{ lx.label }}
    </label>

    <span class="lumx-text-field__helper" ng-if="::lx.helper">{{ lx.helper }}</span>

    <div class="lumx-text-field__input-wrapper">
        <lx-icon class="lumx-text-field__input-icon" lx-path="{{ lx.icon }}" lx-size="xs" ng-if="::lx.icon"></lx-icon>

        <div class="lumx-text-field__input-native" ng-transclude></div>

        <lx-icon
            class="lumx-text-field__input-validity"
            lx-path="{{ lx.isValid ? lx.icons.mdiCheckCircle : lx.icons.mdiAlertCircle }}"
            lx-size="xs"
            ng-if="lx.isValid || lx.hasError"
        ></lx-icon>
    </div>
</div>
