<div class="text-field"
     ng-class="{ 'text-field--is-active': lxTextField.isActive,
                 'text-field--is-focus': lxTextField.isFocus,
                 'text-field--is-disabled': lxTextField.ngDisabled,
                 'text-field--fixed-label': lxTextField.fixedLabel,
                 'text-field--valid': lxTextField.valid,
                 'text-field--error': lxTextField.error,
                 'text-field--with-icon': lxTextField.icon && lxTextField.fixedLabel,
                 'text-field--theme-light': !lxTextField.theme || lxTextField.theme === 'light',
                 'text-field--theme-dark': lxTextField.theme === 'dark' }">
    <div class="text-field__icon" ng-if="lxTextField.icon && lxTextField.fixedLabel">
        <i class="mdi mdi-{{ lxTextField.icon }}"></i>
    </div>

    <label class="text-field__label" ng-if="!lxTextField.fixedLabel || (lxTextField.fixedLabel && !lxTextField.hasModel())">
        {{ lxTextField.label }}
    </label>

    <div ng-transclude></div>
</div>
