<li class="lumx-list-item" ng-class="lx.getClasses()" tabindex="{{ lx.parentController.isClickable ? 0 : -1 }}">
    <div class="lumx-list-item__content" ng-transclude ng-if="::!lx.hasBefore && !lx.hasContent && !lx.hasAfter"></div>

    <div class="lumx-list-item__before" ng-transclude="before" ng-if="::lx.hasBefore"></div>
    <div class="lumx-list-item__content" ng-transclude="content" ng-if="::lx.hasContent"></div>
    <div class="lumx-list-item__after" ng-transclude="after" ng-if="::lx.hasAfter"></div>
</li>
