button {
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-smoothing: antialiased;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.to-do {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 130px 0 40px;
    position: relative;
}
