<div lx-dropdown-toggle>
    <div class="lx-select__selected"
         ng-class="{ 'lx-select__selected--is-unique': !selectController.isMultiple(),
                     'lx-select__selected--is-multiple': selectController.isMultiple(),
                     'lx-select__selected--placeholder': selectController.selectedElements().length === 0 }"
         lx-ripple>
        <span ng-if="selectController.selectedElements().length === 0">{{ selectController.getPlaceholder() }}</span>

        <div ng-repeat="$selected in selectController.selectedElements()"
             ng-if="!selectController.isMultiple()">
            <span ng-transclude="child"></span>
        </div>

        <div ng-if="selectController.isMultiple()">
            <span class="lx-select__tag"
                  ng-repeat="$selected in selectController.selectedElements()"
                  ng-transclude="child"
                  ng-click="unselect($selected)"></span>
        </div>
    </div>
</div>