<div lx-dropdown-toggle>
    <div class="lx-select__selected"
         ng-class="{ 'lx-select__selected--is-unique': !multiple,
                     'lx-select__selected--is-multiple': multiple,
                     'lx-select__selected--placeholder': getSelectedElements().length === 0 }"
         lx-ripple>
        <span ng-if="getSelectedElements().length === 0">{{ placeholder }}</span>

        <div ng-repeat="$selected in getSelectedElements()"
             ng-if="!multiple">
            <span ng-transclude="parent"></span>
        </div>

        <div ng-if="multiple">
            <div class="lx-select__tag"
                  ng-repeat="$selected in getSelectedElements()">
                <span class="lx-select__tag__close" ng-click="toggle($selected, $event)"></span>
                <span ng-transclude="parent"></span>
            </div>
        </div>
    </div>
</div>
