<div class="lumx-checkbox" ng-class="lx.getClasses()">
    <div class="lumx-checkbox__input-wrapper">
        <input
            type="checkbox"
            id="{{ lx.checkboxId }}"
            class="lumx-checkbox__input-native"
            ng-checked="lx.viewValue"
            ng-click="lx.updateViewValue()"
        />

        <div class="lumx-checkbox__input-placeholder">
            <div class="lumx-checkbox__input-background"></div>
            <div class="lumx-checkbox__input-indicator">
                <lx-icon lx-path="{{ lx.icons.mdiCheck }}"></lx-icon>
            </div>
        </div>
    </div>

    <div class="lumx-checkbox__content" ng-if="::!lx.hasLabel && !lx.hasHelper && lx.hasTranscluded">
        <label for="{{ lx.checkboxId }}" class="lumx-checkbox__label" ng-transclude></label>
    </div>

    <div class="lumx-checkbox__content" ng-if="::lx.hasLabel">
        <label for="{{ lx.checkboxId }}" class="lumx-checkbox__label" ng-transclude="label"></label>
        <span class="lumx-checkbox__helper" ng-transclude="helper" ng-if="::lx.hasHelper"></span>
    </div>
</div>
