///*------------------------------------*\
//    #DROPDOWN
//\*------------------------------------*/

// Dropdown
.dropdown--has-toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
}





// Dropdown toggle
.dropdown-toggle {
    position: relative;
}





// Dropdown menu
.dropdown-menu {
    position: fixed;
    border-radius: $base-round;
    background-color: $white;
    text-align: left;
    opacity: 0;
    overflow: auto;

    ul {
        @extend %bare-list;

        & > li {
            position: relative;
        }
    }
}

@for $i from 1 through 5 {
    .dropdown-menu--depth-#{$i} {
        @include z-depth($i);
    }
}

    // Dropdown menu: content
    .dropdown-menu__content {
        padding: $base-spacing-unit 0;
        opacity: 0;
        @include transition-property(opacity);
        @include transition-duration(0.2s);

        .dropdown-menu--is-open & {
            opacity: 1;
        }
    }





// Dropdown divider
.dropdown-divider {
    height: 1px;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
    background-color: $black-4;
}





// Dropdown link
.dropdown-link {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    height: 32px;
    padding: 0 $base-spacing-unit * 4 0 $base-spacing-unit * 2;
    cursor: pointer;
    @include font-size(14px);
    color: $black-1;
    line-height: 32px;
    text-decoration: none;
    white-space: nowrap;

    &:not(.dropdown-link--is-header) {
        &:hover {
            background-color: $grey-200;
        }

        #{$base-icon-prefix} {
            @extend %icon;
            @extend %icon--xs;
            @extend %icon--flat;
            margin-right: $base-spacing-unit * 2;
            color: $black-2;
        }
    }
}

.dropdown-link--is-large {
    height: 48px;

    #{$base-icon-prefix} {
        @extend %icon;
        @extend %icon--s;
        @extend %icon--flat;
    }
}

.dropdown-link--is-header {
    color: $black-3;
    cursor: default;

    #{$base-icon-prefix} {
        width: 18px;
        margin-right: 6px;
        color: $black-3;
        text-align: center;
    }
}
