///*------------------------------------*\
//    #ICONS-ACTIONS
//\*------------------------------------*/

// Variables
$mdi-var-3d-rotation: "\f000";
$mdi-var-accessibility: "\f001";
$mdi-var-account-balance: "\f002";
$mdi-var-account-balance-wallet: "\f003";
$mdi-var-account-box: "\f004";
$mdi-var-account-child: "\f005";
$mdi-var-account-circle: "\f006";
$mdi-var-add-shopping-cart: "\f007";
$mdi-var-alarm: "\f008";
$mdi-var-alarm-add: "\f009";
$mdi-var-alarm-off: "\f00a";
$mdi-var-alarm-on: "\f00b";
$mdi-var-android: "\f00c";
$mdi-var-announcement: "\f00d";
$mdi-var-aspect-ratio: "\f00e";
$mdi-var-assessment: "\f00f";
$mdi-var-assignment: "\f010";
$mdi-var-assignment-ind: "\f011";
$mdi-var-assignment-late: "\f012";
$mdi-var-assignment-return: "\f013";
$mdi-var-assignment-returned: "\f014";
$mdi-var-assignment-turned-in: "\f015";
$mdi-var-autorenew: "\f016";
$mdi-var-backup: "\f017";
$mdi-var-book: "\f018";
$mdi-var-bookmark: "\f019";
$mdi-var-bookmark-outline: "\f01a";
$mdi-var-bug-report: "\f01b";
$mdi-var-cached: "\f01c";
$mdi-var-class: "\f01d";
$mdi-var-credit-card: "\f01e";
$mdi-var-dashboard: "\f01f";
$mdi-var-delete: "\f020";
$mdi-var-description: "\f021";
$mdi-var-dns: "\f022";
$mdi-var-done: "\f023";
$mdi-var-done-all: "\f024";
$mdi-var-event: "\f025";
$mdi-var-exit-to-app: "\f026";
$mdi-var-explore: "\f027";
$mdi-var-extension: "\f028";
$mdi-var-face-unlock: "\f029";
$mdi-var-favorite: "\f02a";
$mdi-var-favorite-outline: "\f02b";
$mdi-var-find-in-page: "\f02c";
$mdi-var-find-replace: "\f02d";
$mdi-var-flip-to-back: "\f02e";
$mdi-var-flip-to-front: "\f02f";
$mdi-var-get-app: "\f030";
$mdi-var-grade: "\f031";
$mdi-var-group-work: "\f032";
$mdi-var-help: "\f033";
$mdi-var-highlight-remove: "\f034";
$mdi-var-history: "\f035";
$mdi-var-home: "\f036";
$mdi-var-https: "\f037";
$mdi-var-info: "\f038";
$mdi-var-info-outline: "\f039";
$mdi-var-input: "\f03a";
$mdi-var-invert-colors: "\f03b";
$mdi-var-label: "\f03c";
$mdi-var-label-outline: "\f03d";
$mdi-var-language: "\f03e";
$mdi-var-launch: "\f03f";
$mdi-var-list: "\f040";
$mdi-var-lock: "\f041";
$mdi-var-lock-open: "\f042";
$mdi-var-lock-outline: "\f043";
$mdi-var-loyalty: "\f044";
$mdi-var-markunread-mailbox: "\f045";
$mdi-var-note-add: "\f046";
$mdi-var-open-in-browser: "\f047";
$mdi-var-open-in-new: "\f048";
$mdi-var-open-with: "\f049";
$mdi-var-pageview: "\f04a";
$mdi-var-payment: "\f04b";
$mdi-var-perm-camera-mic: "\f04c";
$mdi-var-perm-contact-cal: "\f04d";
$mdi-var-perm-data-setting: "\f04e";
$mdi-var-perm-device-info: "\f04f";
$mdi-var-perm-identity: "\f050";
$mdi-var-perm-media: "\f051";
$mdi-var-perm-phone-msg: "\f052";
$mdi-var-perm-scan-wifi: "\f053";
$mdi-var-picture-in-picture: "\f054";
$mdi-var-polymer: "\f055";
$mdi-var-print: "\f056";
$mdi-var-query-builder: "\f057";
$mdi-var-question-answer: "\f058";
$mdi-var-receipt: "\f059";
$mdi-var-redeem: "\f05a";
$mdi-var-report-problem: "\f05b";
$mdi-var-restore: "\f05c";
$mdi-var-room: "\f05d";
$mdi-var-schedule: "\f05e";
$mdi-var-search: "\f05f";
$mdi-var-settings: "\f060";
$mdi-var-settings-applications: "\f061";
$mdi-var-settings-backup-restore: "\f062";
$mdi-var-settings-bluetooth: "\f063";
$mdi-var-settings-cell: "\f064";
$mdi-var-settings-display: "\f065";
$mdi-var-settings-ethernet: "\f066";
$mdi-var-settings-input-antenna: "\f067";
$mdi-var-settings-input-component: "\f068";
$mdi-var-settings-input-composite: "\f069";
$mdi-var-settings-input-hdmi: "\f06a";
$mdi-var-settings-input-svideo: "\f06b";
$mdi-var-settings-overscan: "\f06c";
$mdi-var-settings-phone: "\f06d";
$mdi-var-settings-power: "\f06e";
$mdi-var-settings-remote: "\f06f";
$mdi-var-settings-voice: "\f070";
$mdi-var-shop: "\f071";
$mdi-var-shopping-basket: "\f072";
$mdi-var-shopping-cart: "\f073";
$mdi-var-shop-two: "\f074";
$mdi-var-speaker-notes: "\f075";
$mdi-var-spellcheck: "\f076";
$mdi-var-star-rate: "\f077";
$mdi-var-stars: "\f078";
$mdi-var-store: "\f079";
$mdi-var-subject: "\f07a";
$mdi-var-swap-horiz: "\f07b";
$mdi-var-swap-vert: "\f07c";
$mdi-var-swap-vert-circle: "\f07d";
$mdi-var-system-update-tv: "\f07e";
$mdi-var-tab: "\f07f";
$mdi-var-tab-unselected: "\f080";
$mdi-var-theaters: "\f081";
$mdi-var-thumb-down: "\f082";
$mdi-var-thumbs-up-down: "\f083";
$mdi-var-thumb-up: "\f084";
$mdi-var-toc: "\f085";
$mdi-var-today: "\f086";
$mdi-var-track-changes: "\f087";
$mdi-var-translate: "\f088";
$mdi-var-trending-down: "\f089";
$mdi-var-trending-neutral: "\f08a";
$mdi-var-trending-up: "\f08b";
$mdi-var-turned-in: "\f08c";
$mdi-var-turned-in-not: "\f08d";
$mdi-var-verified-user: "\f08e";
$mdi-var-view-agenda: "\f08f";
$mdi-var-view-array: "\f090";
$mdi-var-view-carousel: "\f091";
$mdi-var-view-column: "\f092";
$mdi-var-view-day: "\f093";
$mdi-var-view-headline: "\f094";
$mdi-var-view-list: "\f095";
$mdi-var-view-module: "\f096";
$mdi-var-view-quilt: "\f097";
$mdi-var-view-stream: "\f098";
$mdi-var-view-week: "\f099";
$mdi-var-visibility: "\f09a";
$mdi-var-visibility-off: "\f09b";
$mdi-var-wallet-giftcard: "\f09c";
$mdi-var-wallet-membership: "\f09d";
$mdi-var-wallet-travel: "\f09e";
$mdi-var-work: "\f09f";





// Icons
.mdi--3d-rotation:before { content: $mdi-var-3d-rotation; }
.mdi--accessibility:before { content: $mdi-var-accessibility; }
.mdi--account-balance:before { content: $mdi-var-account-balance; }
.mdi--account-balance-wallet:before { content: $mdi-var-account-balance-wallet; }
.mdi--account-box:before { content: $mdi-var-account-box; }
.mdi--account-child:before { content: $mdi-var-account-child; }
.mdi--account-circle:before { content: $mdi-var-account-circle; }
.mdi--add-shopping-cart:before { content: $mdi-var-add-shopping-cart; }
.mdi--alarm:before { content: $mdi-var-alarm; }
.mdi--alarm-add:before { content: $mdi-var-alarm-add; }
.mdi--alarm-off:before { content: $mdi-var-alarm-off; }
.mdi--alarm-on:before { content: $mdi-var-alarm-on; }
.mdi--android:before { content: $mdi-var-android; }
.mdi--announcement:before { content: $mdi-var-announcement; }
.mdi--aspect-ratio:before { content: $mdi-var-aspect-ratio; }
.mdi--assessment:before { content: $mdi-var-assessment; }
.mdi--assignment:before { content: $mdi-var-assignment; }
.mdi--assignment-ind:before { content: $mdi-var-assignment-ind; }
.mdi--assignment-late:before { content: $mdi-var-assignment-late; }
.mdi--assignment-return:before { content: $mdi-var-assignment-return; }
.mdi--assignment-returned:before { content: $mdi-var-assignment-returned; }
.mdi--assignment-turned-in:before { content: $mdi-var-assignment-turned-in; }
.mdi--autorenew:before { content: $mdi-var-autorenew; }
.mdi--backup:before { content: $mdi-var-backup; }
.mdi--book:before { content: $mdi-var-book; }
.mdi--bookmark:before { content: $mdi-var-bookmark; }
.mdi--bookmark-outline:before { content: $mdi-var-bookmark-outline; }
.mdi--bug-report:before { content: $mdi-var-bug-report; }
.mdi--cached:before { content: $mdi-var-cached; }
.mdi--class:before { content: $mdi-var-class; }
.mdi--credit-card:before { content: $mdi-var-credit-card; }
.mdi--dashboard:before { content: $mdi-var-dashboard; }
.mdi--delete:before { content: $mdi-var-delete; }
.mdi--description:before { content: $mdi-var-description; }
.mdi--dns:before { content: $mdi-var-dns; }
.mdi--done:before { content: $mdi-var-done; }
.mdi--done-all:before { content: $mdi-var-done-all; }
.mdi--event:before { content: $mdi-var-event; }
.mdi--exit-to-app:before { content: $mdi-var-exit-to-app; }
.mdi--explore:before { content: $mdi-var-explore; }
.mdi--extension:before { content: $mdi-var-extension; }
.mdi--face-unlock:before { content: $mdi-var-face-unlock; }
.mdi--favorite:before { content: $mdi-var-favorite; }
.mdi--favorite-outline:before { content: $mdi-var-favorite-outline; }
.mdi--find-in-page:before { content: $mdi-var-find-in-page; }
.mdi--find-replace:before { content: $mdi-var-find-replace; }
.mdi--flip-to-back:before { content: $mdi-var-flip-to-back; }
.mdi--flip-to-front:before { content: $mdi-var-flip-to-front; }
.mdi--get-app:before { content: $mdi-var-get-app; }
.mdi--grade:before { content: $mdi-var-grade; }
.mdi--group-work:before { content: $mdi-var-group-work; }
.mdi--help:before { content: $mdi-var-help; }
.mdi--highlight-remove:before { content: $mdi-var-highlight-remove; }
.mdi--history:before { content: $mdi-var-history; }
.mdi--home:before { content: $mdi-var-home; }
.mdi--https:before { content: $mdi-var-https; }
.mdi--info:before { content: $mdi-var-info; }
.mdi--info-outline:before { content: $mdi-var-info-outline; }
.mdi--input:before { content: $mdi-var-input; }
.mdi--invert-colors:before { content: $mdi-var-invert-colors; }
.mdi--label:before { content: $mdi-var-label; }
.mdi--label-outline:before { content: $mdi-var-label-outline; }
.mdi--language:before { content: $mdi-var-language; }
.mdi--launch:before { content: $mdi-var-launch; }
.mdi--list:before { content: $mdi-var-list; }
.mdi--lock:before { content: $mdi-var-lock; }
.mdi--lock-open:before { content: $mdi-var-lock-open; }
.mdi--lock-outline:before { content: $mdi-var-lock-outline; }
.mdi--loyalty:before { content: $mdi-var-loyalty; }
.mdi--markunread-mailbox:before { content: $mdi-var-markunread-mailbox; }
.mdi--note-add:before { content: $mdi-var-note-add; }
.mdi--open-in-browser:before { content: $mdi-var-open-in-browser; }
.mdi--open-in-new:before { content: $mdi-var-open-in-new; }
.mdi--open-with:before { content: $mdi-var-open-with; }
.mdi--pageview:before { content: $mdi-var-pageview; }
.mdi--payment:before { content: $mdi-var-payment; }
.mdi--perm-camera-mic:before { content: $mdi-var-perm-camera-mic; }
.mdi--perm-contact-cal:before { content: $mdi-var-perm-contact-cal; }
.mdi--perm-data-setting:before { content: $mdi-var-perm-data-setting; }
.mdi--perm-device-info:before { content: $mdi-var-perm-device-info; }
.mdi--perm-identity:before { content: $mdi-var-perm-identity; }
.mdi--perm-media:before { content: $mdi-var-perm-media; }
.mdi--perm-phone-msg:before { content: $mdi-var-perm-phone-msg; }
.mdi--perm-scan-wifi:before { content: $mdi-var-perm-scan-wifi; }
.mdi--picture-in-picture:before { content: $mdi-var-picture-in-picture; }
.mdi--polymer:before { content: $mdi-var-polymer; }
.mdi--print:before { content: $mdi-var-print; }
.mdi--query-builder:before { content: $mdi-var-query-builder; }
.mdi--question-answer:before { content: $mdi-var-question-answer; }
.mdi--receipt:before { content: $mdi-var-receipt; }
.mdi--redeem:before { content: $mdi-var-redeem; }
.mdi--report-problem:before { content: $mdi-var-report-problem; }
.mdi--restore:before { content: $mdi-var-restore; }
.mdi--room:before { content: $mdi-var-room; }
.mdi--schedule:before { content: $mdi-var-schedule; }
.mdi--search:before { content: $mdi-var-search; }
.mdi--settings:before { content: $mdi-var-settings; }
.mdi--settings-applications:before { content: $mdi-var-settings-applications; }
.mdi--settings-backup-restore:before { content: $mdi-var-settings-backup-restore; }
.mdi--settings-bluetooth:before { content: $mdi-var-settings-bluetooth; }
.mdi--settings-cell:before { content: $mdi-var-settings-cell; }
.mdi--settings-display:before { content: $mdi-var-settings-display; }
.mdi--settings-ethernet:before { content: $mdi-var-settings-ethernet; }
.mdi--settings-input-antenna:before { content: $mdi-var-settings-input-antenna; }
.mdi--settings-input-component:before { content: $mdi-var-settings-input-component; }
.mdi--settings-input-composite:before { content: $mdi-var-settings-input-composite; }
.mdi--settings-input-hdmi:before { content: $mdi-var-settings-input-hdmi; }
.mdi--settings-input-svideo:before { content: $mdi-var-settings-input-svideo; }
.mdi--settings-overscan:before { content: $mdi-var-settings-overscan; }
.mdi--settings-phone:before { content: $mdi-var-settings-phone; }
.mdi--settings-power:before { content: $mdi-var-settings-power; }
.mdi--settings-remote:before { content: $mdi-var-settings-remote; }
.mdi--settings-voice:before { content: $mdi-var-settings-voice; }
.mdi--shop:before { content: $mdi-var-shop; }
.mdi--shopping-basket:before { content: $mdi-var-shopping-basket; }
.mdi--shopping-cart:before { content: $mdi-var-shopping-cart; }
.mdi--shop-two:before { content: $mdi-var-shop-two; }
.mdi--speaker-notes:before { content: $mdi-var-speaker-notes; }
.mdi--spellcheck:before { content: $mdi-var-spellcheck; }
.mdi--star-rate:before { content: $mdi-var-star-rate; }
.mdi--stars:before { content: $mdi-var-stars; }
.mdi--store:before { content: $mdi-var-store; }
.mdi--subject:before { content: $mdi-var-subject; }
.mdi--swap-horiz:before { content: $mdi-var-swap-horiz; }
.mdi--swap-vert:before { content: $mdi-var-swap-vert; }
.mdi--swap-vert-circle:before { content: $mdi-var-swap-vert-circle; }
.mdi--system-update-tv:before { content: $mdi-var-system-update-tv; }
.mdi--tab:before { content: $mdi-var-tab; }
.mdi--tab-unselected:before { content: $mdi-var-tab-unselected; }
.mdi--theaters:before { content: $mdi-var-theaters; }
.mdi--thumb-down:before { content: $mdi-var-thumb-down; }
.mdi--thumbs-up-down:before { content: $mdi-var-thumbs-up-down; }
.mdi--thumb-up:before { content: $mdi-var-thumb-up; }
.mdi--toc:before { content: $mdi-var-toc; }
.mdi--today:before { content: $mdi-var-today; }
.mdi--track-changes:before { content: $mdi-var-track-changes; }
.mdi--translate:before { content: $mdi-var-translate; }
.mdi--trending-down:before { content: $mdi-var-trending-down; }
.mdi--trending-neutral:before { content: $mdi-var-trending-neutral; }
.mdi--trending-up:before { content: $mdi-var-trending-up; }
.mdi--turned-in:before { content: $mdi-var-turned-in; }
.mdi--turned-in-not:before { content: $mdi-var-turned-in-not; }
.mdi--verified-user:before { content: $mdi-var-verified-user; }
.mdi--view-agenda:before { content: $mdi-var-view-agenda; }
.mdi--view-array:before { content: $mdi-var-view-array; }
.mdi--view-carousel:before { content: $mdi-var-view-carousel; }
.mdi--view-column:before { content: $mdi-var-view-column; }
.mdi--view-day:before { content: $mdi-var-view-day; }
.mdi--view-headline:before { content: $mdi-var-view-headline; }
.mdi--view-list:before { content: $mdi-var-view-list; }
.mdi--view-module:before { content: $mdi-var-view-module; }
.mdi--view-quilt:before { content: $mdi-var-view-quilt; }
.mdi--view-stream:before { content: $mdi-var-view-stream; }
.mdi--view-week:before { content: $mdi-var-view-week; }
.mdi--visibility:before { content: $mdi-var-visibility; }
.mdi--visibility-off:before { content: $mdi-var-visibility-off; }
.mdi--wallet-giftcard:before { content: $mdi-var-wallet-giftcard; }
.mdi--wallet-membership:before { content: $mdi-var-wallet-membership; }
.mdi--wallet-travel:before { content: $mdi-var-wallet-travel; }
.mdi--work:before { content: $mdi-var-work; }