<header class="header">
    <div class="header-top">
        <div class="header-top__wrapper">
            <a ui-sref="app.home" class="header-top__logo">
                <img src="/images/logo/lumx.png">
            </a>
        </div>
    </div>

    <div class="header-nav">
        <div class="header-nav__wrapper">
            <ul>
                <li>
                    <a class="header-nav__link" ui-sref="app.getting-started.installation" ui-sref-active="header-nav__link--is-active">Getting started</a>
                </li>
                <li>
                    <a class="header-nav__link" ui-sref="app.css" ui-sref-active="header-nav__link--is-active">CSS</a>
                </li>
                <li>
                    <a class="header-nav__link" ui-sref="app.components.button" ui-sref-active="header-nav__link--is-active">Components</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-background"></div>
</header>
