<div class="main-header">
    <lx-grid lx-orientation="horizontal" lx-h-align="center">
        <lx-grid-item>
            <lx-grid lx-orientation="horizontal" lx-h-align="center">
                <span class="lumx-typography-overline lumx-spacing-margin-right-regular">Theme</span>

                <lx-chip class="lumx-spacing-margin-right-tiny" lx-size="s">
                    <lx-chip-label>LumApps</lx-chip-label>
                </lx-chip>

                <lx-chip lx-size="s">
                    <lx-chip-label>Material</lx-chip-label>
                </lx-chip>
            </lx-grid>
        </lx-grid-item>

        <lx-button lx-emphasis="low" lx-size="s">
            <lx-icon lx-path="{{ mainHeader.icons.mdiReact }}"></lx-icon>
            <span>View React version</span>
        </lx-button>
    </lx-grid>
</div>
