<div class="lumx-tabs" ng-class="lx.getClasses()">
    <div class="lumx-tabs__links">
        <a
            class="lumx-tabs__link"
            ng-class="{ 'lumx-tabs__link--is-active': lx.isTabActive(tab.index),
                        'lumx-tabs__link--is-disabled': tab.isDisabled }"
            ng-repeat="tab in lx.tabs track by tab.uuid"
            ng-click="lx.setActiveTab(tab)"
            lx-enter-keydown="lx.setActiveTab(tab)"
            tabindex="{{ tab.isDisabled ? -1 : 0 }}"
        >
            <lx-icon lx-path="{{ tab.icon }}" lx-size="xs" ng-if="tab.icon"></lx-icon>
            <span ng-if="tab.label">{{ tab.label }}</span>
        </a>
    </div>

    <div class="lumx-tabs__panes" ng-transclude></div>
</div>
