<div class="p+">
    <div class="card">
        <lx-search-filter lx-autocomplete="vm.autocomplete"
                          lx-icon="{{ vm.autocompleteIcon }}"
                          lx-on-init="vm.onSearchFilterInit"
                          lx-on-select="vm.displaySelectedValue"
                          lx-search-on-focus="true">
            <input type="text" ng-model="vm.searchFilter.autocomplete" placeholder="Search">
        </lx-search-filter>
    </div>
    <lx-checkbox ng-model="vm.shouldCloseAfterFewSeconds" class="mt+">Should close dropdown after 5 seconds.</lx-checkbox>
</div>