<ul class="sub-nav">
    <li>
        <a class="sub-nav__link" ui-sref="app.css.color" ui-sref-active="sub-nav__link--is-active">Color</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.css.flexbox" ui-sref-active="sub-nav__link--is-active">Flexbox</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.css.mixin" ui-sref-active="sub-nav__link--is-active">Mixin</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.css.typography" ui-sref-active="sub-nav__link--is-active">Typography</a>
    </li>
</ul>