<ul class="sub-nav">
    <li>
        <a class="sub-nav__link" ui-sref="app.components.button" ui-sref-active="sub-nav__link--is-active">Button</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.card" ui-sref-active="sub-nav__link--is-active">Card</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.checkbox" ui-sref-active="sub-nav__link--is-active">Checkbox</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.chip" ui-sref-active="sub-nav__link--is-active">Chip</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.data-table" ui-sref-active="sub-nav__link--is-active">Data table</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.date-picker" ui-sref-active="sub-nav__link--is-active">Date picker</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.dialog" ui-sref-active="sub-nav__link--is-active">Dialog</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.dropdown" ui-sref-active="sub-nav__link--is-active">Dropdown</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.fab" ui-sref-active="sub-nav__link--is-active">Floating Action Button</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.file-input" ui-sref-active="sub-nav__link--is-active">File input</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.icon" ui-sref-active="sub-nav__link--is-active">Icon</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.list" ui-sref-active="sub-nav__link--is-active">List</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.notification" ui-sref-active="sub-nav__link--is-active">Notification</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.progress" ui-sref-active="sub-nav__link--is-active">Progress</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.radio-button" ui-sref-active="sub-nav__link--is-active">Radio button</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.search-filter" ui-sref-active="sub-nav__link--is-active">Search filter</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.select" ui-sref-active="sub-nav__link--is-active">Select</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.switch" ui-sref-active="sub-nav__link--is-active">Switch</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.tabs" ui-sref-active="sub-nav__link--is-active">Tabs</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.text-field" ui-sref-active="sub-nav__link--is-active">Text field</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.toolbar" ui-sref-active="sub-nav__link--is-active">Toolbar</a>
    </li>
    <li>
        <a class="sub-nav__link" ui-sref="app.components.tooltip" ui-sref-active="sub-nav__link--is-active">Tooltip</a>
    </li>
</ul>