<button class="btn btn--m btn--black btn--flat" ng-click="showCircularProgress()" lx-ripple>Show circular progress</button>
<button class="btn btn--m btn--black btn--flat" ng-click="hideCircularProgress()" lx-ripple>Hide circular progress</button>

<button class="btn btn--m btn--black btn--flat" ng-click="showLinearProgress()" lx-ripple>Show linear progress</button>
<button class="btn btn--m btn--black btn--flat" ng-click="hideLinearProgress()" lx-ripple>Hide linear progress</button>

<div id="progress"></div>