///*------------------------------------*\
//    #LUMX
//\*------------------------------------*/

@import "settings/defaults";

@import "../../core/scss/lumx";

@import "tools/mixins";

@import "base/page";

@import "layout/header";
@import "layout/app";
@import "layout/main-nav";
@import "layout/sub-nav";
@import "layout/palm-nav";
@import "layout/main";
@import "layout/footer";
@import "layout/home";

@import "components/component";

@import "objects/color";