<div
    class="lumx-dialog"
    role="dialog"
    ng-class="{ 'lumx-dialog--is-loading': lx.isLoading,
                'lumx-dialog--size-tiny': lx.size === 'tiny',
                'lumx-dialog--size-regular': lx.size === 'regular',
                'lumx-dialog--size-big': !lx.size || lx.size === 'big',
                'lumx-dialog--size-huge': lx.size === 'huge' }"
>
    <div class="lumx-dialog__wrapper" ng-if="lx.isOpen">
        <div
            class="lumx-dialog__header"
            ng-class="{ 'lumx-dialog__header--has-divider': lx.forceHeaderDivider }"
            ng-transclude="header"
        ></div>

        <div class="lumx-dialog__content">
            <div class="lumx-dialog__sentinel lumx-dialog__sentinel--top"></div>

            <div ng-transclude="content"></div>

            <div class="lumx-dialog__progress-overlay" ng-if="lx.isLoading">
                <lx-progress lx-variant="circular"></lx-progress>
            </div>

            <div class="lumx-dialog__sentinel lumx-dialog__sentinel--bottom"></div>
        </div>

        <div
            class="lumx-dialog__footer"
            ng-class="{ 'lumx-dialog__footer--has-divider': lx.forceFooterDivider }"
            ng-transclude="footer"
        ></div>
    </div>
</div>
