<div class="tabs tabs--theme-{{ theme }}">
    <ul class="tabs__links">
        <li ng-repeat="tab in getTabs()">
            <a class="tabs-link tabs-link--color-{{ indicator }}"
               ng-class="{ 'tabs-link--is-active': $index === activeTab }"
               ng-click="setActiveTab($index)"
               lx-ripple>
               <span ng-bind-html="tab.link"></span>
            </a>
        </li>
    </ul>

    <div class="tabs__panes" ng-transclude></div>

    <div class="tabs__indicator tabs__indicator--color-{{ indicator }}"></div>
</div>