<div class="tabs tabs--theme-{{ linksTc }} tabs--layout-{{ layout }}">
    <ul class="tabs__links bgc-{{ linksBgc }} z-depth{{ zDepth }}"
        ng-class="{ 'tabs__links--no-divider': noDivider }">
        <li ng-repeat="tab in getTabs()">
            <a lx-tab-link
               class="tabs-link"
               ng-class="{ 'tabs-link--is-active': $index === activeTab }"
               ng-click="setActiveTab($index)"
               lx-ripple="{{ indicator }}">
               <span ng-bind-html="tab.link"></span>
            </a>
        </li>
    </ul>

    <div class="tabs__panes" ng-transclude></div>

    <div class="tabs__indicator bgc-{{ indicator }}"></div>
</div>