<div class="tabs tabs--theme-{{ tabsTheme }}">
    <ul class="tabs__links">
        <li ng-repeat="tab in tabsCtrl.getTabs()">
            <a class="tabs-link tabs-link--color-{{ indicatorColor }}"
               ng-class="{ 'tabs-link--is-active': $index === tabsCtrl.getActiveTab() }"
               ng-click="tabsCtrl.switchTab($index)"
               lx-ripple>
               {{ tab.heading }}
            </a>
        </li>
    </ul>

    <div class="tabs__panes" ng-transclude></div>

    <div class="tabs__indicator tabs__indicator--color-{{ indicatorColor }}" lx-tab-indicator></div>
</div>