<div class="text-field"
     ng-class="{ 'text-field--is-valid': valid(),
                 'text-field--has-error': error(),
                 'text-field--is-disabled': disabled(),
                 'text-field--fixed-label': fixedLabel(),
                 'text-field--is-active': data.model || data.focused,
                 'text-field--is-focused': data.focused,
                 'text-field--label-hidden': fixedLabel() && data.model }">
    <label class="text-field__label">
        {{ label }}
    </label>

    <input class="text-field__input" type="{{ type }}" name="{{ name }}" ng-if="type !== 'area'"
           ng-disabled="disabled()" ng-model="data.model" ng-focus="data.focused = true" ng-blur="data.focused = false">

    <textarea class="text-field__input" ng-if="type === 'area'"
              ng-model="data.model" ng-focus="data.focused = true" ng-blur="data.focused = false"></textarea>
</div>
