<div class="lumx-select" ng-class="lx.getClasses()">
    <span class="lumx-select__label" ng-if="::lx.label && (!lx.variant || lx.variant === 'input')">
        {{ lx.label }}
    </span>

    <div
        class="lumx-select__wrapper"
        id="{{ lx.targetUuid }}"
        tabindex="0"
        ng-click="lx.toggleDropdown($event)"
        ng-focus="lx.enableKeyEvents()"
        ng-blur="lx.disableKeyEvents()"
        ng-if="!lx.variant || lx.variant === 'input'"
    >
        <div
            class="lumx-select__input-native lumx-select__input-native--placeholder"
            ng-if="lx.isModelEmpty() && lx.placeholder"
        >
            <span>{{ lx.placeholder }}</span>
        </div>

        <div class="lumx-select__input-native" ng-if="!lx.multiple">
            <span ng-bind-html="lx.displaySelected()" ng-if="!lx.isModelEmpty()"></span>
        </div>

        <div class="lumx-select__chips" ng-if="lx.multiple">
            <lx-chip-group ng-if="!lx.isModelEmpty()">
                <lx-chip
                    lx-on-click="lx.select(selected, $event)"
                    lx-size="s"
                    lx-theme="{{ lx.theme === 'dark' ? 'dark' : 'light' }}"
                    ng-repeat="selected in lx.viewValue"
                    ng-disabled="lx.isDisabled"
                >
                    <lx-chip-label ng-bind-html="lx.displaySelected(selected)"></lx-chip-label>

                    <lx-chip-after>
                        <lx-icon lx-path="{{ lx.icons.mdiClose }}" lx-size="xxs"></lx-icon>
                    </lx-chip-after>
                </lx-chip>
            </lx-chip-group>
        </div>

        <div class="lumx-select__input-validity" ng-if="lx.isValid || lx.hasError">
            <lx-icon
                lx-path="{{ lx.isValid ? lx.icons.mdiCheckCircle : lx.icons.mdiAlertCircle }}"
                lx-size="xxs"
            ></lx-icon>
        </div>

        <lx-button
            type="button"
            class="lumx-select__input-clear"
            lx-emphasis="low"
            lx-size="s"
            lx-theme="{{ lx.theme }}"
            lx-variant="icon"
            ng-if="lx.isClearable && !lx.multiple && !lx.isModelEmpty()"
            ng-click="lx.clearModel($event)"
        >
            <lx-icon lx-path="{{ lx.icons.mdiCloseCircle }}"></lx-icon>
        </lx-button>

        <div class="lumx-select__input-indicator">
            <lx-icon lx-path="{{ lx.icons.mdiMenuDown }}" lx-size="s"></lx-icon>
        </div>
    </div>

    <lx-chip
        id="{{ lx.targetUuid }}"
        lx-custom-colors="lx.customColors"
        lx-has-dropdown-indicator="lx.isModelEmpty()"
        lx-on-click="lx.toggleDropdown($event)"
        lx-on-after-click="lx.clearModel()"
        lx-is-selected="!lx.isModelEmpty()"
        lx-theme="{{ lx.theme }}"
        ng-focus="lx.enableKeyEvents()"
        ng-blur="lx.disableKeyEvents()"
        ng-if="lx.variant === 'chip'"
    >
        <lx-chip-label>
            <span ng-if="lx.isModelEmpty()">{{ lx.label }}</span>

            <span ng-if="!lx.isModelEmpty() && !lx.multiple" ng-bind-html="lx.displaySelected()"></span>

            <span ng-if="!lx.isModelEmpty() && lx.multiple">
                <span ng-bind-html="lx.displaySelected(lx.viewValue[0])"></span>
                <span ng-if="lx.viewValue.length > 1">+{{ lx.viewValue.length - 1 }}</span>
            </span>
        </lx-chip-label>

        <lx-chip-after>
            <lx-icon
                lx-path="{{ lx.isModelEmpty() ? lx.icons.mdiMenuDown : lx.icons.mdiCloseCircle }}"
                lx-size="xs"
            ></lx-icon>
        </lx-chip-after>
    </lx-chip>

    <lx-dropdown lx-position="left" lx-width="100%" id="{{ lx.dropdownUuid }}">
        <lx-dropdown-menu>
            <div class="lumx-select__filter" ng-if="::lx.hasFilter">
                <lx-icon lx-path="{{ lx.icons.mdiMagnify }}" lx-size="xs"></lx-icon>

                <input
                    type="text"
                    placeholder="Search"
                    ng-model="lx.filterModel"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="lx.updateFilter()"
                    lx-select-filter
                />
            </div>

            <lx-list
                lx-custom-colors="lx.customColors"
                lx-focus-on-init="!lx.hasFilter"
                lx-is-clickable="true"
                ng-if="!lx.isLoading"
            >
                <!-- Default choices -->
                <lx-list-item
                    lx-is-selected="lx.isSelected(choice)"
                    lx-size="tiny"
                    ng-repeat="choice in lx.choices | lxSelectChoicesFilter:lx.filter:lx.filterModel"
                    ng-click="lx.select(choice, $event)"
                    lx-enter-keydown="lx.select(choice, $event)"
                    ng-if="::lx.isChoicesArray()"
                >
                    <lx-list-item-content ng-bind-html="::lx.displayChoice(choice)"></lx-list-item-content>
                </lx-list-item>

                <!-- Subheader choices -->
                <lx-list-subheader
                    ng-repeat-start="(subheader, children) in lx.choices"
                    ng-bind-html="lx.displaySubheader(subheader)"
                    ng-if="::!lx.isChoicesArray()"
                ></lx-list-subheader>

                <lx-list-item
                    lx-is-selected="lx.isSelected(choice)"
                    lx-size="tiny"
                    ng-repeat="choice in children | lxSelectChoicesFilter:lx.filter:lx.filterModel"
                    ng-repeat-end
                    ng-click="lx.select(choice, $event)"
                    lx-enter-keydown="lx.select(choice, $event)"
                    ng-if="::!lx.isChoicesArray()"
                >
                    <lx-list-item-content ng-bind-html="::lx.displayChoice(choice)"></lx-list-item-content>
                </lx-list-item>
            </lx-list>

            <span class="lumx-select__helper" ng-if="lx.hasHelper && !lx.isLoading">
                {{ lx.helper }}
            </span>

            <div class="lumx-select__loader" ng-if="lx.isLoading || lx.isInfiniteScrollLoading">
                <lx-progress></lx-progress>
            </div>
        </lx-dropdown-menu>
    </lx-dropdown>
</div>
