///*------------------------------------*\
//    #OBJECTS-SEARCH-FILTER
//\*------------------------------------*/

// Search toolbar
.search-toolbar {
    height: 48px;
    padding: 4px 8px;
}

.search-toolbar--indigo {
    background-color: $indigo-500;
}